.row
  .large-12.columns
    .row
      .large-12.columns
        %p
          Kami telah mengirimkan sebuah pesan melalui email yang anda daftarkan. 
        %p
          Silahkan mengkonfirmasi untuk melanjutkan pendaftaran keanggotan anda di IKPI Lounge.
