.row
  .large-12.columns
    .row
      .large-4.columns
        = render("devise/shared/login")
      .large-8.columns
        .row
          .large-12.columns
            %h2
              Registrasi Keanggotaan IKPI Lounge
        .row
          .large-12.columns
            = form_tag user_registration_path, :method => "POST", :id => "form-registration-user" do  
              .row
                .large-12.columns
                  %label
                    %strong
                      Nama Lengkap
                      %span.important_field
                        *
                  = text_field_tag "user[name]", "", :class => "#{ 'error_field' if @user.errors[:name].present?}"
              .row
                .large-12.columns
                  %label
                    %strong
                      No. KTP
                      %span.important_field
                        *
                  = text_field_tag "user[id_card_no]", "" , :class => "#{ 'error_field' if @user.errors[:id_card_no].present?}"
              .row
                .large-12.columns
                  %label
                    %strong
                      Email
                      %span.important_field
                        *
                  = text_field_tag "user[email]", "" , :class => "#{ 'error_field' if @user.errors[:email].present?}"
              .row
                .large-12.columns
                  %label
                    %strong
                      Nomor Mobile Phone
                      %span.important_field
                        *
                  = text_field_tag "user[mobile_phone_no]", "" , :class => "#{ 'error_field' if @user.errors[:mobile_phone_no].present?}"
              .row{:class => "#{ 'error_field' if @user.errors.messages[:base].present?}"}
                .large-12.columns
                  %span.important_field
                    *
                  = recaptcha_tags
              .row
                .large-12.columns
                  %span.important_field
                    *
                  (
                  Wajib Diisi
                  )
              .row
                .large-12.columns
                  = submit_tag "Daftar"
          
