= content_for :script do 
  :javascript 
    $(document).ready(function(){
      $("#invoice_confirmation_paid_on").datepicker({ dateFormat: 'dd-mm-yy' })
    });
.row
  .large-12.columns
    .row
      .large-12.columns
        %h2
          Konfirmasi Pembayaran
    %hr
    .row
      .large-12.columns
        .row
          .large-12.columns
            %h4
              Rincian Biaya
        .row
          .large-12.columns
            %table
              %thead
                %tr 
                  %th
                    Invoice ID
                  %th 
                    Title
                  %th
                    Jumlah
                  %th 
                    Biaya
                  %th
                    %strong
                      Total Biaya (Jumlah X Biaya)
              %tbody 
                %tr 
                  %td
                    = @invoice.invoice_note_id
                  %td
                    = @invoice.invoice_title
                  %td
                    = @invoice.total_amount
                  %td
                    = @invoice.total_price
                  %td
                    %strong
                      = @invoice.total_price 
        .row
          .large-12.columns
            %h4
              Konfirmasi Pembayaran
        .row
          .large-12.columns
            = form_tag create_confirmation_invoice_path(@invoice), :data_method => "POST", :multipart => true  do 
              .row
                .large-12.columns
                  = submit_tag "Simpan", :class => "button small"
              = hidden_field_tag "invoice_confirmation[invoice_id]", @invoice.id
              .row
                .large-6.columns
                  %label 
                    %strong
                      Pembayaran Dilakukan Pada Tanggal
                .large-6.columns
                  = text_field_tag "invoice_confirmation[paid_on]"
              .row
                .large-6.columns
                  %label
                    %strong
                      Pembayaran Dilakukan Oleh
                .large-6.column
                  = text_field_tag "invoice_confirmation[paid_by]"
              .row
                .large-6.columns
                  %label
                    %strong
                      Apabila Anda Punya Bukti Pembayaran, Silahkan Masukkan Gambar Disini
                .large-6.columns
                  =  file_field_tag "invoice_confirmation[payment_copy]"
              .row
                .large-6.columns
                  %label
                    %strong
                      Keterangan
                .large-6.columns
                  = text_area_tag "invoice_confirmation[description]"
              .row
                .large-12.columns
                  = submit_tag "Simpan", :class => "button small"
            
