.row
  .large-12.columns
    .row
      .large-12.columns
        %h2
          Daftar Pembayaran Administrasi
    .row
      .large-12.columns
        %table
          %thead
            %tr 
              %th
                Invoice ID
              %th 
                Title
              %th 
                Total Biaya
              %th 
                Status
              %th 
                Catatan
              %th
                Aksi
          %tbody
            - @invoices.each do |invoice|
              %tr 
                %td
                  = invoice.invoice_note_id
                %td
                  = invoice.invoice_title
                %td
                  = invoice.total_price
                %td
                  = Preference::INVOICE_STATUS[invoice.status_id]
                %td
                  = invoice.notes
                %td
                  %a{"href" => invoice_path(invoice)} Rincian Biaya
                  - unless invoice.is_confirmed
                    %a{"href" => confirmation_invoice_path(invoice)} Konfirmasi Pembayaran
