.row
  .large-12.columns
    .row
      .large-12.columns
        .row
          .large-12.columns
            %h4
              Rincian Biaya
        .row
          .large-12.columns
            %table
              %thead
                %tr 
                  %th
                    Invoice ID
                  %th 
                    Title
                  %th
                    Jumlah
                  %th 
                    Biaya
                  %th
                    %strong
                      Total Biaya (Jumlah X Biaya)
              %tbody 
                %tr 
                  %td
                    = @invoice.invoice_note_id
                  %td
                    = @invoice.invoice_title
                  %td
                    = @invoice.total_amount
                  %td
                    = @invoice.total_price
                  %td
                    %strong
                      = @invoice.total_price 
        .row
