= form_tag user_session_path, :method => "POST" do 
  .row
    .large-12.columns
      %h2
        Login
  %hr
  .row
    .large-12.columns
      %label
        %strong
          Username/Email
      = text_field_tag "user[email]", "", :placeholder => "contoh: nama@ikpi.co.id"
  .row
    .large-12.columns
      %label
        %strong
          Password
      = password_field_tag "user[password]", "" 
  .row
    .large-12.columns
      = submit_tag "Log In"
