= content_for :script do
  = javascript_include_tag 'ckeditor/ckeditor.js' 
  :javascript
    $(document).ready(function(){ 
      if ($('textarea').length > 0) {
          var data = $('#invoice_note');          
          $.each(data, function(i) {
            CKEDITOR.replace(data[i].id, 
              {
                toolbar: [
                  { name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source', '-', 'NewPage', 'Preview', 'Print', '-', 'Templates' ] },
                  { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
                  { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ], items: [ 'Find', 'Replace', '-', 'SelectAll', '-', 'Scayt' ] },
                  { name: 'forms', items: [ 'Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField' ] },
                  '/',
                  { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
                  { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language' ] },
                  { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
                  { name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe' ] },
                  '/',
                  { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
                  { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
                  { name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
                  { name: 'others', items: [ '-' ] },
                ]
              }
            ); 
          });
      }
    });
.row
  .large-12.columns
    .row
      .large-12.columns
        %h2
          Konfirmasi Pembayaran
    %hr
    .row
      .large-12.columns
        .row
          .large-12.columns
            %h4
              Rincian Biaya
        .row
          .large-12.columns
            %table
              %thead
                %tr 
                  %th
                    Invoice ID
                  %th 
                    Title
                  %th
                    Jumlah
                  %th 
                    Biaya
                  %th
                    %strong
                      Total Biaya (Jumlah X Biaya)
              %tbody 
                %tr 
                  %td
                    = @invoice.invoice_note_id
                  %td
                    = @invoice.invoice_title
                  %td
                    = @invoice.total_amount
                  %td
                    = @invoice.total_price
                  %td
                    %strong
                      = @invoice.total_price 
        .row
          .large-12.columns
            %h4
              Konfirmasi Pembayaran
        .row
          .large-12.columns 
            .row
              .large-6.columns
                %label 
                  %strong
                    Pembayaran Dilakukan Pada Tanggal
              .large-6.columns
                = @invoice.invoice_confirmation.present? ? (@invoice.invoice_confirmation.paid_on.strftime("%d-%m-%Y") if @invoice.invoice_confirmation.paid_on.present? ) : "-" 
            .row
              .large-6.columns
                %label
                  %strong
                    Pembayaran Dilakukan Oleh
              .large-6.column
                = @invoice.invoice_confirmation.present? ? @invoice.invoice_confirmation.paid_by : "-" 
            .row
              .large-6.columns
                %label
                  %strong
                    Bukti Pembayaran
              .large-6.columns
                - if @invoice.invoice_confirmation.present?
                  - if @invoice.invoice_confirmation.payment_copy.present?
                    %a{"href" => @invoice.invoice_confirmation.payment_copy.url } Download
                  - else
                    %label
                      Tidak Tersedia
            .row
              .large-6.columns
                %label
                  %strong
                    Keterangan
              .large-6.columns
                = @invoice.invoice_confirmation.present? ? @invoice.invoice_confirmation.description : "-" 
.row
  .large-12.columns
    = form_tag create_confirmation_admin_invoice_path(@invoice) do 
      .row
        .large-12.columns
          = check_box_tag "invoice[is_finished]", false, false, :onclick=>"if($(this).is(':checked')){$(this).val(true);$(this).next().val(true)}else{$(this).val(false);$(this).next().val(false)};"
          = hidden_field_tag "invoice[is_finished]",false
          Saya yakin sepenuhnya, pembayaran telah diterima!
      .row
        .large-12.columns
          = submit_tag "lanjutkan", :class =>"columns small"
%hr
.row 
  .large-12.columns
    = form_tag cancel_confirmation_admin_invoice_path(@invoice), :method => "PATCH" do
      .row 
        .large-12.columns
          Apabila Anda Tidak Yakin, Silahkan Buat Pesan Di Bawah Ini Dan Tekan Tombol Pembatalan
      .row
        .large-12.columns
          = text_area_tag "invoice_note","", :required => true
      .row
        .large-12.columns
          =  submit_tag "batalkan", :class =>"columns small"
