.row
  .large-12.columns
    .row
      .large-12.columns
        %h4
          Daftar Konfirmasi Pembayaran Yang Perlu Di Proses
    .row
      .large-12.columns
        %table
          %thead
            %tr 
              %th
                Invoice ID
              %th 
                Title 
              %th 
                Tanggal Pembayaran
              %th 
                Pembayaran Dilakukan Oleh
              %th 
                Status
              %th 
                Aksi
          %tbody
            - @invoices.each do |invoice|
              %tr 
                %td
                  = invoice.invoice_note_id
                %td
                  = invoice.invoice_title
                %td
                  = invoice.invoice_confirmation.present? ? (invoice.invoice_confirmation.paid_on.strftime("%d-%m-%Y") if invoice.invoice_confirmation.paid_on.present? ) : "-"
                %td
                  = invoice.invoice_confirmation.present? ? (invoice.invoice_confirmation.paid_by if invoice.invoice_confirmation.paid_by.present? ) : "-" 
                %td
                  = Preference::INVOICE_STATUS[invoice.status_id]
                %td
                  - if invoice.is_confirmed == true && invoice.status_id == 1
                    %a{"href" => confirmation_admin_invoice_path(invoice) } Memproses Konfirmasi Pembayaran
                  
                  %a{"href" => admin_invoice_path(invoice), "data-method" => "DELETE", :rel => "nofollow" } hapus
