= content_for :script do 
  :javascript
    $(document).ready(function(){
      $('#edutrain_start_time').datetimepicker({
          dateFormat: '',
          timeFormat: 'HH:mm:ss'
      });
      $('#edutrain_end_time').datetimepicker({
          dateFormat: '',
          timeFormat: 'HH:mm:ss'
      });
      $( "#edutrain_edutrain_start_date" ).datepicker({ dateFormat: 'dd-mm-yy' });
      $( "#edutrain_edutrain_end_date" ).datepicker({ dateFormat: 'dd-mm-yy' });
    });
.row
  .large-6.columns
    %label
      %strong
        Nama PPL
  .large-6.columns
    = text_field_tag "edutrain[name]", @edutrain.name || ""
.row
  - if @edutrain.image.present?
    .large-12.columns
      %img{"src" => @edutrain.image.url, "alt" => "Logo Pelatihan"}
  .large-6.columns
    %label
      %strong
        Logo
  .large-6.columns
    = file_field_tag "edutrain[image]"
.row
  .large-6.columns
    %label
      %strong
        Biaya PPL
  .large-6.columns
    = number_field_tag "edutrain[price]", @edutrain.price || ""
.row
  .large-6.columns
    %label
      %strong
        Nama Kelas
  .large-6.columns
    = text_field_tag "edutrain[edutrain_class_name]", @edutrain.edutrain_class_name || ""
.row
  .large-6.columns
    %label
      %strong
        Nama Trainer
  .large-6.columns
    = text_field_tag "edutrain[trainer_name]", @edutrain.trainer_name || ""
.row
  .large-6.columns
    %label
      %strong
        Waktu Mulai
  .large-6.columns
    = text_field_tag "edutrain[start_time]", (@edutrain.start_time.present? ? @edutrain.start_time.strftime("%H:%M:%S") : "") || ""
.row
  .large-6.columns
    %label
      %strong
        Waktu Berakhir
  .large-6.columns
    = text_field_tag "edutrain[end_time]", (@edutrain.end_time.present? ? @edutrain.end_time.strftime("%H:%M:%S") : "") || ""
.row
  .large-6.columns
    %label
      %strong
        Tanggal Mulai
  .large-6.columns
    = text_field_tag "edutrain[edutrain_start_date]", (@edutrain.edutrain_start_date.present? ? @edutrain.edutrain_start_date.strftime("%d-%m-%Y") : "") || ""
.row
  .large-6.columns
    %label
      %strong
        Tanggal Berakhir
  .large-6.columns
    = text_field_tag "edutrain[edutrain_end_date]", (@edutrain.edutrain_end_date.present? ? @edutrain.edutrain_end_date.strftime("%d-%m-%Y") : "") || ""
.row
  .large-6.columns
    %label
      %strong
        Tempat Pertemuan
  .large-6.columns
    = text_area_tag "edutrain[edutrain_place]", @edutrain.edutrain_place || ""
.row
  .large-6.columns
    %label
      %strong
        Nilai SKP
  .large-6.columns
    = number_field_tag "edutrain[pcu_value]", @edutrain.pcu_value || ""
.row
  .large-6.columns
    %label
      %strong
        Tipe PPL
  .large-6.columns
    = select_tag "edutrain[edutrain_type_id]", options_for_select(Preference::HEDUTRAIN_TYPE , @edutrain.edutrain_type_id.present? ? @edutrain.edutrain_type_id : 0  )
.row
  .large-6.columns
    %label
      %strong
        Prasyarat Untuk Ikut Event Ini
  .large-6.columns
    = text_area_tag "edutrain[rules_and_regulation]", @edutrain.rules_and_regulation || ""
.row
  .large-6.columns
    %label
      %strong
        Deskripsi Singkat
  .large-6.columns
    = text_area_tag "edutrain[short_description]", @edutrain.short_description || ""
.row
  .large-6.columns
    %label
      %strong
        Deskripsi 
  .large-6.columns
    = text_area_tag "edutrain[description]", @edutrain.description || ""
.row
  .large-6.columns
    %label
      %strong
        Di Tampilkan ? 
  .large-6.columns
    = check_box_tag "edutrain[is_publish]", @edutrain.is_publish == true ?  true : false, @edutrain.is_publish, :onclick => "if($(this).is(':checked')){ $(this).val(true); $(this).next().val(true) }else{$(this).val(false); $(this).next().val(false)}"
    = hidden_field_tag "edutrain[is_publish]", @edutrain.is_publish
