.row
  .large-12.columns
    .row
      .large-12.columns
        %h4 
          Perbaharui Detail Event Edukasi Dan Training
    .row
      .large-12.columns
        = form_tag admin_edutrain_path(@edutrain), :multipart => true, :method => "PATCH" do 
          = render "admin/edutrains/form"
          .row
            .large-12.columns
              = submit_tag "Simpan", :class => "button small"
