.row
  .large-12.columns
    .row
      .large-12.columns
        %a{"href" => new_admin_edutrain_path} Buat Baru
    .row
      .large-12.columns
        %h2
          Daftar Event PPL
    .row
      .large-12.columns
        %ul{"class" => "small-block-grid-2 medium-block-grid-3 large-block-grid-4"}
          - @edutrains.each do |edutrain|
            %li
              %ul{"class" => "pricing-table"}
                %li.description
                  - if edutrain.image.present?
                    %img{"src" => edutrain.image.url, "alt" => "Logo #{edutrain.name}"}
                  - else
                    %img{"src" => "", "alt" => "Logo"}
                %li.title
                  = edutrain.name
                %li{"class" => "bullet-item"}
                  %label
                    %strong
                      Nama Kelas
                  %br
                  = edutrain.edutrain_class_name
                %li{"class" => "bullet-item"}
                  %label
                    %strong
                      Tipe PPL
                  %br
                  = Preference::EDUTRAIN_TYPE[edutrain.edutrain_type_id.present? ? edutrain.edutrain_type_id : 0]
                %li{"class" => "bullet-item"}
                  %label
                    %strong
                      Ditampilkan ?
                  %br
                  = edutrain.is_publish == true ? "Ya" : "Tidak"
                %li.description 
                  = edutrain.short_description
                %li{"class" => "cta-button"}
                  %a{"class" => "button tiny", "href" => admin_edutrain_path(edutrain)} Pratinjau
                  %a{"class" => "button tiny", "href" => edit_admin_edutrain_path(edutrain)} Sunting
                  %a{"class" => "button tiny", "href" => admin_edutrain_path(edutrain), "data-method" => "DELETE", "rel" => "nofollow"} Hapus
                
          
