.row
  .large-12.columns
    .row
      .large-12.columns
        %h4 
          Buat Event Edukasi Dan Training
    .row
      .large-12.columns
        = form_tag admin_edutrains_path, :multipart => true, :method => "POST" do 
          = render "admin/edutrains/form"
          .row
            .large-12.columns
              = submit_tag "Simpan", :class => "button small"
