.row
  .large-12.columns
    .row
      .large-12.columns
        %h4
          Ganti Password
    .row.panel
      .large-12.columns
        %ol
          %li 
            Password Baru minimal 8 Karakter
    %br
    .row
      .large-12.columns
        = form_tag update_password_lounges_path , :method => "PATCH", :multipart => true do 
          .row
            .large-6.columns
              %label 
                %strong
                  Password
            .large-6.columns
              = password_field_tag "current_password"
          %hr
          .row
            .large-6.columns
              %label 
                %strong
                  Password baru
            .large-6.columns
              = password_field_tag "new_password"
          .row
            .large-6.columns
              %label 
                %strong
                  Konfirmasi Password Baru
            .large-6.columns
              = password_field_tag "new_password_confirmation"
          .row
            .large-12.columns
              = submit_tag "Perbaharui"
