.row
  .large-12.columns
  
    - if ( current_user.admin_note.present? ) && (current_user.status_stage == 2)
      .row
        .large-12.columns  
          .row
            .large-12.columns
              Anda Telah Didaftarkan Sebagai Anggota IKPI. Silahkan Melakukan Konfirmasi Pembayaran 
              %a{"href" => "#"}
                Disini
    - else 
      .row
        .large-12.columns
          %h2
            Selamat Datang Di IKPI Lounge
      .row
        .large-12.columns
          Anda Dapat Mendaftarkan Diri Anda Secara Online Disini Untuk Tergabung kedalam Keanggotaan IKPI.
      .row
        .large-12.columns
          Kedepannya, Kami Akan Memberikan Fasilitas Pelayanan Untuk Menunjang Profesi Anda Sebagai Konsultan Pajak.
           
      .row
        .large-12.columns
          %label
            %strong
              Segera Daftarkan Diri Anda! Untuk Menikmati Pelayanan Yang Kami Tawarkan Ini.
      %hr

.row
  .large-12.columns
    .row
      .large-12.columns
        %h4
          Event PPL 
    .row
      .large-12.columns
        = render "edutrains/listing"
