= content_for :style do
  %link{:href => "http://fonts.googleapis.com/css?family=Old+Standard+TT", :rel => "stylesheet", :type => "text/css"}/
  :css
    h2 {
      font-family: 'Old Standard TT', serif;
      font-weight: bolder;
    }
    h4 {
      font-family: 'Old Standard TT', serif;
      font-weight: bolder;
      color: #899799;
    }
    #main-profile {
      background-color: #e9eaea;
      padding: 10px;
      margin: 10px;
    }
    .stuffy_gray {
      font-size: 12px;
      color: #899799;
    }
    .stuffy_gray.big{
      font-size: 16px;
      color: #899799;
    }
#main-profile.row
  .large-12.column 
    - unless current_user.is_approved
      .row
        .large-12.columns
          %label
            %strong
              Anda Belum Terdaftar Sebagai Anggota IKPI. 
              Kami Tidak Dapat Menampilkan Profil Anda.
    - else
      #user-profile.row.boxy{"style" => "margin: 15px;"}
        .large-4.columns.avatar
          - if current_user.avatar.present?
            %img{"src" => current_user.avatar.url, :alt => "Profile Picture"}
          - else
            %img{"src" => "/assets/profile_picture.png", :alt => "Profile Picture"}
        .large-8.columns.descriptions
          %p
            %h2
              = current_user.name
          %hr
          %p
            Sebagai
            =  current_user.current_workplace.work_place_position
            Di 
            =  current_user.current_workplace.work_place_name
          %p
            = current_user.ca_city
            ,
            = current_user.ca_province
          %p.member_dateline
            Masa Keanggotaan IKPI Sampai Dengan Tanggal
            %strong
              = current_user.registered_to.strftime("%y %B %Y %H:%M")
      #user-current-work.boxy{"style" => "margin: 15px;"}
        .large-12.columns
          .row
            .large-12.columns
              %h4
                Pekerjaan Saat Ini
          .row
            .large-12.columns
              %table
                %tbody
                  %tr 
                    %td
                      %strong
                        Nama Perusahaan
                    %td
                      = current_user.current_workplace.work_place_name
                  %tr 
                    %td
                      %strong
                        Kategori bisnis Perusahaan
                    %td
                      = Preference::JOB_BUSINESS_CAT[current_user.current_workplace.work_place_business_category_id]
                  %tr 
                    %td
                      %strong
                        Tipe Perusahaan
                    %td
                      = Preference::WORKPLACE_TYPE[current_user.current_workplace.work_place_type_id]
                  %tr 
                    %td
                      %strong
                        Jabatan Perusahaan
                    %td
                      = Preference::JOB_LEVEL[current_user.current_workplace.work_place_job_level_id]
                  %tr 
                    %td
                      %strong
                        Kategori Pekerjaan
                    %td
                      = Preference::JOB_FOI[current_user.current_workplace.work_place_field_of_interest_id]
                  %tr 
                    %td
                      %strong
                        Alamat Pekerjaan
                    %td
                      = current_user.current_workplace.work_place_address
                  %tr 
                    %td
                      %strong
                        Nomor Telepon Kantor
                    %td
                      = current_user.current_workplace.work_place_phone_no
                  %tr 
                    %td
                      %strong
                        Extension
                    %td
                      = current_user.current_workplace.work_place_phone_extension_no
                  %tr 
                    %td
                      %strong
                        Nomor Faximile Kantor
                    %td
                      = current_user.current_workplace.work_place_fax_no
      #user-work.row.boxy{"style" => "margin: 15px;"}
        .large-12.columns
          .row
            .large-12.columns
              %h4
                Pengalaman Pekerjaan
          .row
            .large-12.columns
              %br
              - @user_works.each do |work| 
                .row
                  .large-12.columns
                    %h5
                      = work.work_place_position
                      \-
                      = work.work_place_division
                .row
                  .large-12.columns
                    %h5
                      = work.work_place_name
                .row
                  .large-12.columns.stuffy_gray
                    = work.work_place_entry_date.present? ? work.work_place_entry_date.strftime("%B %Y") : "?"
                    \-
                    = work.work_place_out_date.present? ? work.work_place_out_date.strftime("%B %Y") : "?"
                    |
                    = work.work_place_address
                %hr
      #user-education.row.boxy{"style" => "margin: 15px;"}
        .large-12.columns
          .row
            .large-12.columns
              %h4
                Pendidikan
          .row
            .large-12.columns
              %br
              - @user_educations.each do |education| 
                .row
                  .large-12.columns
                    %h5
                      = education.education_institution_name
                      di 
                      = education.education_institution_city 
                .row
                  .large-12.columns.stuffy_gray.big
                    = Preference::EDU_STAGE[education.education_institution_stage_id]
                    |
                    = education.education_institution_course
                  
                .row
                  .large-12.columns.stuffy_gray
                    Tanggal Ijazah
                    \:
                    = education.date_of_diploma.strftime("%d %B %Y")
                %hr
      #user-certification.row.boxy{"style" => "margin: 15px;"}
        .large-12.columns
          .row
            .large-12.columns
              %h4
                Sertifikasi
          .row
            .large-12.columns
              %br
              - @user_certifications.each do |certification| 
                .row
                  .large-12.columns
                    %h5
                      = certification.certification_name
                      [ 
                      = certification.certification_no 
                      ]
                .row
                  .large-12.columns.stuffy_gray 
                    = certification.certification_date_of_graduation
                    |
                    = certification.certification_issuer
                .row
                  .large-12.columns
                    = certification.certification_description
                %hr
