.row
  .large-12.columns
    %large
      %strong
        Judul
    = text_field_tag "user_registration_file[title]", @user_registration_file.title || "", :required => true
.row
  .large-12.columns
    %large
      %strong
        Deskripsi
    = text_area_tag "user_registration_file[description]", @user_registration_file.description || ""
.row
  .large-12.columns
    %large
      %strong
        Di Published ?
    = hidden_field_tag "user_registration_file[is_published]", @user_registration_file.is_published  
    = check_box_tag "check_user_registration_file[is_published]", @user_registration_file.is_published, @user_registration_file.is_published == true ? true : false, :onclick => "if($(this).is(':checked')){$('#user_registration_file_is_published').val(true)}else{$('#user_registration_file_is_published').val(false)}"
.row
  .large-12.columns
    %large
      %strong
        Di Wajibkan Untuk Diisi Oleh Anggota ?
    = hidden_field_tag "user_registration_file[is_required]", @user_registration_file.is_required  
    = check_box_tag "check_user_registration_file[is_required]", @user_registration_file.is_required  , @user_registration_file.is_required == true ? true : false, :onclick => "if($(this).is(':checked')){$('#user_registration_file_is_required').val(true)}else{$('#user_registration_file_is_required').val(false)}"
