.row
  .large-12.colummns
    .row
      .large-12.columns
        %h2
          Sunting Berkas Anggota
    .row
      .large-12.columns
        = form_tag admin_user_registration_file_path(@user_registration_file), :method => "PATCH" do 
          = render("admin/user_registration_files/form")
          .row
            .large-12.columns
              = submit_tag "Sunting"
