.row
  .large-12.columns
    .row
      .large-12.columns
        %h2
          Berkas Yang Diperlukan Untuk Registrasi Anggota IKPI
    %hr
    .row
      .large-12.columns
        .row
          .large-12.columns
            %a.button.small{"href" => new_admin_user_registration_file_path} Buat Baru
        .row
          .large-12.columns
            %table
              %thead
                %tr 
                  %th 
                    Judul
                  %th 
                    Deskripsi
                  %th 
                    Dipublish?
                  %th 
                    Diwajibkan?
                  %th 
                    Aksi
              
              %tbody
                - @user_registration_files.each do |file|
                  %tr 
                    %td 
                      = file.title
                    %td
                      = file.description
                    %td
                      = file.is_published == true ?  "Ya" : "Tidak" 
                    %td
                      = file.is_required == true  ?  "Ya" : "Tidak"
                    %td
                    
          
