.row
  .large-12.colummns
    .row
      .large-12.columns
        %h2
          Buat Berkas Anggota
    .row
      .large-12.columns
        = form_tag admin_user_registration_files_path, :method => "POST" do 
          = render("admin/user_registration_files/form")
          .row
            .large-12.columns
              = submit_tag "Buat"
