.row
  .large-12.columns
    %ul.inline-list
      %li
        %a{"href" => edit_admin_user_registration_file_path(@user_registration_file)} 
          %i.fi-pencil
            Sunting
      %li 
        %a{"href" => admin_user_registration_files_path} 
          %i.fi-wrench
            Kembali
%hr
.row
  .large-12.columns
    %table
      %thead
        %tr 
          %th 
            Attribute
          %th 
            Nilai    
      %tbody 
        %tr 
          %td 
            Judul
          %td
            = @user_registration_file.title
        %tr
          %td
            Deskripsi
          %td
            = @user_registration_file.description
        %tr
          %td
            Di Published ?
          %td
            = @user_registration_file.is_published == true ?  "Ya" : "Tidak" 
        %tr  
          %td
            DiWajibkan ?
          %td
            = @user_registration_file.is_required == true  ?  "Ya" : "Tidak"        

