.row
  .large-12.columns
    .row
      .large-4.columns
        %img{"src" => "/assets/lounge-ikpi.svg"}
      .large-8.columns
        .row.panel.callout.radius 
          .large-12.columns
            .row
              .large-12.columns
                %h1
                  Selamat Datang, Para Konsultan Pajak Indonesia 
            .row
              .large-12.columns
                Selamat Datang Di Halaman Portal IKPI Lounge. Di Portal Ini Anda Bisa Mendapatkan Produk & Pelayanan Yang Ditawarkan Oleh Ikatan Konsultan Pajak Indonesia (IKPI). Silakan memulai dengan menjadi Anggota IKPI Lounge, dengan meng-klik tautan di bawah.
            %br
            .row
              .large-12.columns
                %a{"href" => new_user_registration_path} Registrasi Keanggotaan IKPI Lounge 
      
    .row
      .large-12.columns
        .row
          .large-4.columns
            = render("devise/shared/login") 
          .large-8.columns
            .row 
              .large-12.columns
                %h4
                  Info PPL - Pendidikan Dan Pelatihan
            %hr
            .row 
              .large-12.columns
                %ul{"class" => "small-block-grid-2 medium-block-grid-3 large-block-grid-4"}
                  - @edutrains.each do |edutrain|
                    %li
                      %ul{"class" => "pricing-table"}
                        %li.description
                          - if edutrain.image.present?
                            %img{"src" => edutrain.image.url, "alt" => "Logo #{edutrain.name}"}
                          - else
                            %img{"src" => "", "alt" => "Logo"}
                        %li.title
                          = edutrain.name
                        %li.description
                          %h5
                            Rp 
                            = edutrain.price.present? ? edutrain.price : "0"
                        %li{"class" => "bullet-item"}
                          %label
                            %strong
                              Nama Kelas
                          %br
                          = edutrain.edutrain_class_name
                        %li{"class" => "bullet-item"}
                          %label
                            %strong
                              Tipe PPL
                          %br
                          = Preference::EDUTRAIN_TYPE[edutrain.edutrain_type_id.present? ? edutrain.edutrain_type_id : 0] 
                        %li.description 
                          = edutrain.short_description
                        %li{"class" => "cta-button"}
                          %a{"class" => "button tiny", "href" => edutrain_path(edutrain)} Tinjau
