%ul{"class" => "small-block-grid-2 medium-block-grid-3 large-block-grid-4"}
  - @edutrains.each do |edutrain|
    %li
      %ul{"class" => "pricing-table"}
        %li.description
          - if edutrain.image.present?
            %img{"src" => edutrain.image.url, "alt" => "Logo #{edutrain.name}"}
          - else
            %img{"src" => "", "alt" => "Logo"}
        %li.title
          = edutrain.name
        %li.description
          %h5
            Rp 
            = edutrain.price.present? ? edutrain.price : "0"
        %li{"class" => "bullet-item"}
          %label
            %strong
              Nama Kelas
          %br
          = edutrain.edutrain_class_name
        %li{"class" => "bullet-item"}
          %label
            %strong
              Tipe PPL
          %br
          = Preference::EDUTRAIN_TYPE[edutrain.edutrain_type_id.present? ? edutrain.edutrain_type_id : 0] 
        %li.description 
          = edutrain.short_description
        %li{"class" => "cta-button"}
          - if @user_edutrains.include?(edutrain.id)
            - get_user_edutrain(@user_edutrains.select{|n| n == edutrain.id}[0])
            - unless @user_edutrain.invoice.is_finished 
              %p
                Anda Sudah Terdaftar. Silahkan Melakukan Pembayaran Dan Konfirmasi
                %a{"href" => confirmation_invoice_path(@user_edutrain.invoice_id)} Disini
            - else
              %a{"class" => "button tiny", "href" => edutrain_path(edutrain)} Tinjau
          - else
            %a{"class" => "button tiny", "href" => edutrain_path(edutrain)} Tinjau
