.row
  .large-12.columns 
    .row
      .large-12.columns
        .row
          .large-12.columns
            %h7 
              Daftar PPL Anda
        %hr
        .row
          .large-12.columns
            = render "edutrains/my_ppl"
    %hr
    .row
      .large-12.columns
        .row
          .large-12.columns
            %h7 
              Daftar PPL Tersedia
        %hr
        .row
          .large-12.columns
            = render "edutrains/listing"
