
.row
  - if @edutrain.image.present?
    .large-12.columns
      %label
        %strong
          Logo
      %br
      %img{"src" => @edutrain.image.url, "alt" => "Logo Pelatihan"}
  - else
    .large-12.columns
      %label
        %strong
          Logo
.row
  .large-6.columns
    %label
      %strong
        Nama PPL
  .large-6.columns
    = @edutrain.name || ""
.row
  .large-6.columns
    %label
      %strong
        Biaya PPL
  .large-6.columns
    Rp 
    = @edutrain.price || ""
.row
  .large-6.columns
    %label
      %strong
        Nama PPL
  .large-6.columns
    =  @edutrain.edutrain_class_name || ""
.row
  .large-6.columns
    %label
      %strong
        Nama Trainer
  .large-6.columns
    = @edutrain.trainer_name || ""
.row
  .large-6.columns
    %label
      %strong
        Waktu Mulai
  .large-6.columns
    = @edutrain.start_time.present? ? @edutrain.start_time.strftime("%H:%M:%S") : "-"
.row
  .large-6.columns
    %label
      %strong
        Waktu Berakhir
  .large-6.columns
    = @edutrain.end_time.present? ? @edutrain.end_time.strftime("%H:%M:%S") : "-"
.row
  .large-6.columns
    %label
      %strong
        Tanggal Mulai
  .large-6.columns
    =  @edutrain.edutrain_start_date.present? ? @edutrain.edutrain_start_date.strftime("%d %B %Y") : "-"
.row
  .large-6.columns
    %label
      %strong
        Tanggal Berakhir
  .large-6.columns
    =  @edutrain.edutrain_end_date.present? ? @edutrain.edutrain_end_date.strftime("%d %B %Y") : "-"
.row
  .large-6.columns
    %label
      %strong
        Tempat Pertemuan
  .large-6.columns
    =  @edutrain.edutrain_place || ""
.row
  .large-6.columns
    %label
      %strong
        Nilai SKP
  .large-6.columns
    = @edutrain.pcu_value || ""
.row
  .large-6.columns
    %label
      %strong
        Tipe PPL
  .large-6.columns
    = Preference::EDUTRAIN_TYPE[@edutrain.edutrain_type_id.present? ? @edutrain.edutrain_type_id : 0]
.row
  .large-6.columns
    %label
      %strong
        Prasyarat Untuk Ikut Event Ini
  .large-6.columns
    =  @edutrain.rules_and_regulation || ""
.row
  .large-6.columns
    %label
      %strong
        Deskripsi Singkat
  .large-6.columns
    = @edutrain.short_description || ""
.row
  .large-6.columns
    %label
      %strong
        Deskripsi 
  .large-6.columns
    = @edutrain.description || ""
- if current_user
  .row
    .large-6.columns
      - if current_user.edutrain_ids.include?(@edutrain.id)
        .row
          .large-12.columns
            Anda Telah Mengambil PPL Ini. Silahkan Menggunakan Kode Invoice [
            = user_edutrain_invoice(current_user, @edutrain)
            ]
      - else
        .row
          .large-12.columns
            = form_tag register_edutrain_path(@edutrain), :method => "POST" do 
              .row
                .large-12.columns
                  = check_box_tag "user_edutrain[is_agreed]", false, false, :onclick => "if($(this).is(':checked')){$(this).val(true);$(this).next().val(true);}else{$(this).val(false);$(this).next().val(false);}"
                  = hidden_field_tag "user_edutrain[is_agreed]", false
                  Saya telah memenuhi prasyarat sesuai keterangan PPL di atas.
              .row
                .large-12.columns
                  = submit_tag "Daftar", :class => "button small"
