Welcome, #{@user.name}
\===============================================

You have successfully signed up to IKPI Lounge,
your email is: #{@user.email}.
your password is: #{@password}
To login to the site, just follow this link: #{@url}.

Thanks for joining and have a great day!
