!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome, #{@user.name}
    %p
      You have successfully signed up to IKPI Lounge,
      your email is: #{@user.email}
      %br/
      your password is: #{@password}
    %p
      To login to the site, just follow this link: #{@url}.
    %p Thanks for joining and have a great day!
