Welcome, #{@user.name}
\===============================================

You have successfully Change your Password ,
your email is: #{@user.email}.
your password is: #{@password}
To login to the site, just follow this link: #{@url}.
 
