!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi, #{@user.name}
    %p
      You have successfully Change Your Password,
      your email is: #{@user.email}
      %br/
      your password is: #{@password}
    %p 
      To login to the site, just follow this link: #{@url}.
