= content_for :script do
  :javascript
    function delete_cert_history(id){
      var fd = new FormData(); 
      var xhr = new XMLHttpRequest(); 
      xhr.open("DELETE","/member/delete_my_certification/"+id);
      fd.append("authenticity_token", "#{form_authenticity_token}");
       
      xhr.onload = function(e) {
        respond = JSON.parse(this.response);
        
        if(respond["success"] == true){ 
          ikpi_notification("Ok");
          $("#tbl_certification_history .content .row_"+ new String(id)).remove();
          
        }
      } 
      xhr.send(fd);
      return false;
    }
    
    $(document).ready(function(){ 
       $( "#user_certification_certification_date_of_graduation" ).datepicker({ dateFormat: 'dd-mm-yy' });
      $("#form-user-certification").submit(function(){
        var fd = new FormData(); 
        var transfer = true;
        fd.append("authenticity_token", "#{form_authenticity_token}"); 
        
        if($("#user_certification_certification_date_of_graduation").val()){
          fd.append("user_certification[certification_date_of_graduation]", $("#user_certification_certification_date_of_graduation").val());
        }else{
          transfer = false;
          if($("#user_certification_certification_date_of_graduation").hasClass("i-error-messages")){
            $("#user_certification_certification_date_of_graduation").removeClass("i-error-messages");
            $("#user_certification_certification_date_of_graduation").siblings(".f-error-messages").remove();
            $("#user_certification_certification_date_of_graduation").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_certification_certification_date_of_graduation").addClass("i-error-messages");
          }else{
            $("#user_certification_certification_date_of_graduation").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_certification_certification_date_of_graduation").addClass("i-error-messages");
          }
        }  
        
        
        
        if($("#user_certification_certification_name").val()){
          fd.append("user_certification[certification_name]", $("#user_certification_certification_name").val());
        }else{
          transfer = false;
          if($("#user_certification_certification_name").hasClass("i-error-messages")){
            $("#user_certification_certification_name").removeClass("i-error-messages");
            $("#user_certification_certification_name").siblings(".f-error-messages").remove();
            $("#user_certification_certification_name").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_certification_certification_name").addClass("i-error-messages");
          }else{
            $("#user_certification_certification_name").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_certification_certification_name").addClass("i-error-messages");
          }
        }  
          
        
        if($("#user_certification_certification_no").val()){
          fd.append("user_certification[certification_no]", $("#user_certification_certification_no").val()); 
        }else{
          transfer = false;
          if($("#user_certification_certification_no").hasClass("i-error-messages")){
            $("#user_certification_certification_no").removeClass("i-error-messages");
            $("#user_certification_certification_no").siblings(".f-error-messages").remove();
            $("#user_certification_certification_no").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_certification_certification_no").addClass("i-error-messages");
          }else{
            $("#user_certification_certification_no").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_certification_certification_no").addClass("i-error-messages");
          }
        } 
        
        if($("#user_certification_certification_issuer").val()){
          fd.append("user_certification[certification_issuer]", $("#user_certification_certification_issuer").val());  
        }else{
          transfer = false;
          if($("#user_certification_certification_issuer").hasClass("i-error-messages")){
            $("#user_certification_certification_issuer").removeClass("i-error-messages");
            $("#user_certification_certification_issuer").siblings(".f-error-messages").remove();
            $("#user_certification_certification_issuer").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_certification_certification_issuer").addClass("i-error-messages");
          }else{
            $("#user_certification_certification_issuer").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_certification_certification_issuer").addClass("i-error-messages");
          }
        } 
        
        
        var xhr = new XMLHttpRequest(); 
        xhr.open("PATCH","/member/update_my_certification");
        xhr.onload = function(e) {
          respond = JSON.parse(this.response);
          
          if(respond["success"] == true){
             ikpi_notification("Data Riwayat Sertifikasi Berhasil Disimpan.");
             if(respond["user"]){
               $("#progress-meter").css("width", new String(parseInt(respond["user"].step_status)*20) +"%" );
               
               if(parseInt(respond["user"].step_status) == 5){
                   if($("#progress-wrapper").length > 0){
                     $("#progress-wrapper").parent().html("<a href='/member/validate' class='button_press'>Klik Untuk Validasi Formulir Anda</a>");
                     ikpi_notification("Silahkan Klik Validasi Untuk Konfirmasi Formulir Anda.");
                   }
              }
             }
             $("form div.f-error-messages").remove();
             $("form input, form select").removeClass("i-error-messages");
             var content = "";
             
             content += "<tr class='row_"+respond["user_certification"]["id"]+"'>";
             content += "  <td>"+respond["user_certification"]["certification_date_of_graduation"]+"</td>";
             content += "  <td>"+respond["user_certification"]["certification_name"]+"</td>";
             content += "  <td>"+respond["user_certification"]["certification_no"]+"</td>";
             content += "  <td>"+respond["user_certification"]["certification_issuer"]+"</td>";
             content += "  <td><a href='#' onclick='delete_cert_history("+respond["user_certification"]["id"]+");return false;'>Hapus</a></td>"; 
             content += "</tr>";
             
             if($("#tbl_certification_history .content").children("tr").length == 0){
               $("#tbl_certification_history .content").append(content);
             }else{
               $("#tbl_certification_history .content tr:first").after(content);
             } 
             
             $("#form-user-certification")[0].reset();
          }
        }
        if(transfer){
          xhr.send(fd);
        }
        return false;
      });
    });

.row
  .large-12
    .row
      .large-12.columns
        %h2
          Form Data Sertifikasi
    .row
      .large-6.columns   
        = form_tag "", :id=>"form-user-certification" do
        
          .row
            .large-12.columns
              = submit_tag "Tambahkan", :class => "button small"
          .row
            .large-12.columns
              %label
                %strong
                  Tanggal Lulus
                %span.important_field
                  *
              = text_field_tag "user_certification[certification_date_of_graduation]", ""
          .row
            .large-12.columns
              %label
                %strong
                  Nama Sertifikasi
                %span.important_field
                  *
              = text_field_tag "user_certification[certification_name]", ""
          .row
            .large-12.columns
              %label
                %strong
                  Nomor Sertifikasi
                %span.important_field
                  *
              = text_field_tag "user_certification[certification_no]", ""
          .row
            .large-12.columns
              %label
                %strong
                  Penyelenggara
                %span.important_field
                  *
              = text_field_tag "user_certification[certification_issuer]", "" 
          .row
            .large-12.columns
              = submit_tag "Tambahkan", :class => "button small"
      .large-6.columns
        .row
          .large-12.columns
            %h4
              Riwayat Sertifikasi
        .row
          .large-12.columns
            %table{"id" => "tbl_certification_history"}
              %thead
                %tr
                  %td
                    Tanggal Lulus
                  %td
                    Nama Sertifikasi
                  %td
                    Nomor Sertifikasi
                  %td
                    Penyelenggara 
                  %td
                    Aksi 
              %tbody{"class" => "content"}
                - @user_certifications.each do |cert|
                  %tr{"class" =>"row_"+cert.id.to_s}
                    %td
                      = cert.certification_date_of_graduation.present? ? cert.certification_date_of_graduation : "-"
                    %td
                      = cert.certification_name
                    %td
                      = cert.certification_no
                    %td
                      = cert.certification_issuer
                    %td
                      %a{"href" =>"#", :onclick => "delete_cert_history('"+cert.id.to_s+"');return false;"}
                        Hapus
                      
