= content_for :script do
  :javascript
    function delete_education_history(id){
      var fd = new FormData(); 
      var xhr = new XMLHttpRequest(); 
      xhr.open("DELETE","/member/delete_education_history/"+id);
      fd.append("authenticity_token", "#{form_authenticity_token}");
       
      xhr.onload = function(e) {
        respond = JSON.parse(this.response);
        
        if(respond["success"] == true){ 
          ikpi_notification("Ok");
          $("#tbl_education_history .content .row_"+ new String(id)).remove();
        }
      } 
      xhr.send(fd);
      
      return false;
    }
    
    $(document).ready(function(){ 
      $( "#user_education_date_of_diploma" ).datepicker({ dateFormat: 'dd-mm-yy' });
      
      $("#form-user-education").submit(function(){
        var fd = new FormData(); 
        var transfer = true;
        fd.append("authenticity_token", "#{form_authenticity_token}"); 
        
        
        if($("#user_education_education_institution_stage_id").val()){
          fd.append("user_education[education_institution_stage_id]", $("#user_education_education_institution_stage_id").val());
        }else{
          transfer = false;
          if($("#user_education_education_institution_stage_id").hasClass("i-error-messages")){
            $("#user_education_education_institution_stage_id").removeClass("i-error-messages");
            $("#user_education_education_institution_stage_id").siblings(".f-error-messages").remove();
            $("#user_education_education_institution_stage_id").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_education_education_institution_stage_id").addClass("i-error-messages");
          }else{
            $("#user_education_education_institution_stage_id").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_education_education_institution_stage_id").addClass("i-error-messages");
          }
        }  
        
        if($("#user_education_date_of_diploma").val()){
          fd.append("user_education[date_of_diploma]", $("#user_education_date_of_diploma").val());
        }else{
          transfer = false;
          if($("#user_education_date_of_diploma").hasClass("i-error-messages")){
            $("#user_education_date_of_diploma").removeClass("i-error-messages");
            $("#user_education_date_of_diploma").siblings(".f-error-messages").remove();
            $("#user_education_date_of_diploma").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_education_date_of_diploma").addClass("i-error-messages");
          }else{
            $("#user_education_date_of_diploma").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_education_date_of_diploma").addClass("i-error-messages");
          }
        } 
        
        if($("#user_education_education_institution_name").val()){
          fd.append("user_education[education_institution_name]", $("#user_education_education_institution_name").val());
        }else{
          transfer = false;
          if($("#user_education_education_institution_name").hasClass("i-error-messages")){
            $("#user_education_education_institution_name").removeClass("i-error-messages");
            $("#user_education_education_institution_name").siblings(".f-error-messages").remove();
            $("#user_education_education_institution_name").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_education_education_institution_name").addClass("i-error-messages");
          }else{
            $("#user_education_education_institution_name").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_education_education_institution_name").addClass("i-error-messages");
          }
        } 
        
        if($("#user_education_education_institution_course").val()){
          fd.append("user_education[education_institution_course]", $("#user_education_education_institution_course").val());
        }else{
          transfer = false;
          if($("#user_education_education_institution_course").hasClass("i-error-messages")){
            $("#user_education_education_institution_course").removeClass("i-error-messages");
            $("#user_education_education_institution_course").siblings(".f-error-messages").remove();
            $("#user_education_education_institution_course").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_education_education_institution_course").addClass("i-error-messages");
          }else{
            $("#user_education_education_institution_course").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_education_education_institution_course").addClass("i-error-messages");
          }
        } 
        
        if($("#user_education_education_institution_city").val()){
          fd.append("user_education[education_institution_city]", $("#user_education_education_institution_city").val());
        }else{
          transfer = false;
          if($("#user_education_education_institution_city").hasClass("i-error-messages")){
            $("#user_education_education_institution_city").removeClass("i-error-messages");
            $("#user_education_education_institution_city").siblings(".f-error-messages").remove();
            $("#user_education_education_institution_city").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_education_education_institution_city").addClass("i-error-messages");
          }else{
            $("#user_education_education_institution_city").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_education_education_institution_city").addClass("i-error-messages");
          }
        } 
         
        var xhr = new XMLHttpRequest(); 
        xhr.open("PATCH","/member/update_education_history/");
        xhr.onload = function(e) {
          respond = JSON.parse(this.response);
          
          if(respond["success"] == true){
             ikpi_notification("Data Riwayat Pendidikan Berhasil Disimpan.");
             
             if(respond["user"]){
               $("#progress-meter").css("width", new String(parseInt(respond["user"].step_status)*20) +"%" );
               
               if(parseInt(respond["user"].step_status) == 5){
                   if($("#progress-wrapper").length > 0){
                     $("#progress-wrapper").parent().html("<a href='/member/validate' class='button_press'>Klik Untuk Validasi Formulir Anda</a>");
                     ikpi_notification("Silahkan Klik Validasi Untuk Konfirmasi Formulir Anda.");
                   }
              }
             }
             $("form div.f-error-messages").remove();
             $("form input, form select").removeClass("i-error-messages"); 
             var content = "";
             
             content += "<tr class='row_"+respond["user_education"]["id"]+"'>";
             content += "  <td>"+respond["user_education"]["education_institution_stage"]+"</td>";
             content += "  <td>"+respond["user_education"]["date_of_diploma"]+"</td>";
             content += "  <td>"+respond["user_education"]["education_institution_name"]+"</td>";
             content += "  <td>"+respond["user_education"]["education_institution_course"]+"</td>";
             content += "  <td>"+respond["user_education"]["education_institution_city"]+"</td>";
             content += "  <td><a href='#' onclick='delete_education_history("+respond["user_education"]["id"]+");return false;'>Hapus</a></td>";
             content += "</tr>";
             
             if($("#tbl_education_history .content").children("tr").length == 0){
               $("#tbl_education_history .content").append(content);
             }else{
               $("#tbl_education_history .content tr:first").after(content);
             }
             $("#form-user-education")[0].reset();
          }
        }
        if(transfer){
          xhr.send(fd);
        }
        return false;
      });
    });

.row
  .large-12.columns
    .row
      .large-12.columns
        %h2
          Form Data Pendidikan
  
    
    .row
      .large-6.columns 
        = form_tag "", :id => "form-user-education", :multipart => true, :method => "PATCH" do
          .row
            .large-12.columns
              = submit_tag "Simpan", :class => "button small"
              
          .row
            .large-12.columns
              %label
                %strong 
                  Jenjang Pendidikan
              = select_tag "user_education[education_institution_stage_id]", options_for_select(Preference::HEDU_STAGE)
          .row
            .large-12.columns
              %label
                %strong 
                  Tanggal Ijazah
                %span.important_field
                  *
              = text_field_tag "user_education[date_of_diploma]", ""
          .row
            .large-12.columns
              %label
                %strong 
                  Nama Perguruan Tinggi
                %span.important_field
                  *
              = text_field_tag "user_education[education_institution_name]", ""
          .row
            .large-12.columns
              %label
                %strong 
                  Program Studi
                %span.important_field
                  *
              = text_field_tag "user_education[education_institution_course]", ""
          .row
            .large-12.columns
              %label
                %strong 
                  Kota Universitas
                %span.important_field
                  *
              = text_field_tag "user_education[education_institution_city]", ""
         
          .row
            .large-12.columns
              = submit_tag "Simpan", :class => "button small"
      .large-6.columns
        .row
          .large-12.columns
            %h3
              Riwayat Pendidikan
        .row
          .large-12.columns
            %table{"id" => "tbl_education_history"}
              %thead
                %tr 
                  %td
                    Jenjang Pendidikan
                  %td
                    Tanggal Ijazah
                  %td
                    Nama Perguruan Tinggi
                  %td
                    Program Studi
                  %td
                    Kota Universitas
                  %td
                    Aksi
              %tbody{"class" => "content"}
                - @user_educations.each do |edu|
                  %tr{"class" =>"row_"+edu.id.to_s}
                    %td
                      = Preference::EDU_STAGE[edu.education_institution_stage_id]
                    %td
                      = edu.date_of_diploma.present? ? edu.date_of_diploma.strftime("%d-%m-%Y") : "-"
                    %td
                      = edu.education_institution_name
                    %td
                      = edu.education_institution_course
                    %td
                      = edu.education_institution_city
                    %td
                      %a{"href" =>"#", :onclick => "delete_education_history('"+edu.id.to_s+"');return false;"}
                        Hapus
