= content_for :script do
  :javascript   
    function cancel_reg_field(field, is_required, file_id) {
      if(typeof field != "string"){
        field = "user_registration_file_"+new String(file_id);
      } 
      
      if($("#"+field).length > 0){
        $("#"+field).remove();
        $("#"+field+"_cancel").remove();
      } 
      
      $("#"+field+"_data").show();
      $("#"+field+"_input_wrapper").hide();  
   
      var data_files = localStorage.getItem("data_files"); 
      if(data_files){
        data_files = JSON.parse(data_files);
        if(data_files){
          data_files.pop();
        }
        data_files = JSON.stringify(data_files);
        localStorage.setItem("data_files", data_files);
      }
    }
    function set_registration_file(field, is_required, file_id) {
      var data_files = localStorage.getItem("data_files"); 
      var file_field = "";
      var cancel_field = "";
      file_field += "<input type='file' name='user_registration_file["+file_id+"]' id='"+field+"'>";
      cancel_field += "<a href='#' id='"+field+"_cancel' onclick='cancel_reg_field("+field+","+is_required+","+file_id+");return false;'>Batal</a>";
      
      
      if(data_files){
         data_files = JSON.parse(data_files);
      
        if($("#"+field).length > 0){
        
          $("#"+field).remove();
          $("#"+field+"_cancel").remove();
        } 
        
        
        $("#"+field+"_wrapper").attr("id", field+"_input_wrapper");
        $("#"+field+"_input_wrapper").show();
        $("#"+field+"_data").hide();
        
        $("#"+field+"_input_wrapper .content").append(file_field); 
        $("#"+field+"_input_wrapper .content").append(cancel_field);
      
      }
      
      
      if(data_files){
        data_files.push([field, is_required, file_id]);
        data_files = JSON.stringify(data_files);
        localStorage.setItem("data_files", data_files);
      }else{
        var data_files = [];
        data_files.push([field, is_required, file_id]);
        data_files = JSON.stringify(data_files);
        localStorage.setItem("data_files", data_files);
        set_registration_file(field, is_required, file_id);
      }
      
      
      
      return false;
    }
    $(document).ready(function(){
      $("#form-user-registration-files").submit(function(){
        var fd = new FormData();
        var transfer = false;
        var data_files = localStorage.getItem("data_files"); 
        if(data_files){
          data_files = JSON.parse(data_files);
        }
        
        
        //var file = document.getElementById("user_avatar").files[0]; 
        fd.append("authenticity_token", "#{form_authenticity_token}");
           
        for(var index=0; index < data_files.length;index++){ 
          if(data_files[index][1]){
            var obj_file;
            if(data_files[index][0]){
              var obj_file;
              if(data_files[index][0]){
                obj_file = document.getElementById(data_files[index][0]);
                if(obj_file){
                  obj_file = obj_file.files[0]; 
                }
              }
            }
              if(obj_file){
                transfer = (true || transfer);
                fd.append("user_registration_file["+data_files[index][2]+"]", obj_file);
              }else{
                transfer = (false || transfer);
                if($("#"+data_files[index][0]).hasClass("i-error-messages")){
                  $("#"+data_files[index][0]).removeClass("i-error-messages");
                  $("#"+data_files[index][0]).siblings(".f-error-messages").remove();
                  $("#"+data_files[index][0]).after("<div class='f-error-messages'>Wajib Diisi</div>");
                  $("#"+data_files[index][0]).addClass("i-error-messages");
                }else{
                  $("#"+data_files[index][0]).after("<div class='f-error-messages'>Wajib Diisi</div>");
                  $("#"+data_files[index][0]).addClass("i-error-messages");
                }
              } 
            
          }else {
            
            var obj_file;
            if(data_files[index][0]){
              obj_file = document.getElementById(data_files[index][0]); 
              if(obj_file){
                obj_file = obj_file.files[0]; 
              }
            }
            if(obj_file){
              transfer = (true || transfer);
              fd.append("user_registration_file["+data_files[index][2]+"]", obj_file);
            }else{
              transfer = (false || transfer);
            }
          }
        }
         
        var xhr = new XMLHttpRequest(); 
        xhr.open("PATCH","/member/update_my_files/");
        xhr.onload = function(e) {
          respond = JSON.parse(this.response); 
          
          if(respond["success"] == true){
             ikpi_notification("Data Berhasil Disimpan.");
             
             if(respond["user"]){
               $("#progress-meter").css("width", new String(parseInt(respond["user"].step_status)*20) +"%" );
               
                if(parseInt(respond["user"].step_status) == 5){
                     if($("#progress-wrapper").length > 0){
                       $("#progress-wrapper").parent().html("<a href='/member/validate' class='button_press'>Klik Untuk Validasi Formulir Anda</a>");
                       ikpi_notification("Silahkan Klik Validasi Untuk Konfirmasi Formulir Anda.");
                     }
                }
               
             }
             $("form div.f-error-messages").remove();
             $("form input, form select").removeClass("i-error-messages");
             
             if(respond["files"]){
               for(var index in respond["files"] ){
                 $("#user_registration_file_"+respond["files"][index]["user_registration_file_id"]+"_data").remove();
                 var content = "";
                 content += "<div class='row' id='user_registration_file_"+respond["files"][index]["user_registration_file_id"]+"_data'>";
                   content += "<div class='large-6 columns'>";
                     content += "<strong>";
                       content += respond["files"][index]["title"];
                       content += " : ";
                       content += respond["files"][index]["filename"];
                     content += "</strong>";
                   
                   content += "</div>";
                   content += "<div  class='large-6 columns'>";
                     content += "<a href='/member/download_user_file/"+respond["files"][index]["id"]+"'>Download</a>";
                     content += " ";
                     content += "<a href='#' onclick='set_registration_file(\""+new String("user_registration_file_"+respond["files"][index]["user_registration_file_id"])+"\", "+respond["files"][index]["is_required"]+", "+new String(respond["files"][index]["user_registration_file_id"])+");return false; '>Ganti File</a>";
                   content += "</div>";
                 content += "</div>";
                 
                 content += "<div class='row' id='user_registration_file_"+respond["files"][index]["user_registration_file_id"]+"_wrapper' style='display:none'>";
                   content += "<div class='large-12 columns content'>";
                      content += "<label>";
                        content += "<strong> ";
                        content +=  new String(respond["files"][index]["title"]);
                        content += " ";
                        
                        if(eval(respond["files"][index]["is_required"])){
                          content +=  new String("Wajib");
                        }else{
                          content +=  new String("Jika Ada");
                        }
                        
                        content += "</strong>";
                      content += " </label>";
                   content += "</div>"; 
                 content += "</div>";
                
                 $("#user_registration_file_"+respond["files"][index]["user_registration_file_id"]+"_input_wrapper").before(content);
                 $("#user_registration_file_"+respond["files"][index]["user_registration_file_id"]+"_input_wrapper").remove()
                 localStorage.setItem("data_files",[]);
               }

             }
                      
         
         
          }
        }
        if(transfer){
          xhr.send(fd);
        }
        
        return false;
      });
    
    })
.row
  .large-12
    .row
      .large-12.columns
        %h2
          Berkas yang harus dilengkapi
    .row
      .large-6.columns   
        = form_tag "", :id => "form-user-registration-files", :multipart => true, :method => "PATCH" do
          .row
            .large-12.columns
              = submit_tag "Simpan", :class => "button small"
              
          - UserRegistrationFile.all.each do |file|
            - if @user_files.include?(file.id)
              .row{"id" =>"user_registration_file_#{file.id}_data"}
                .large-6.columns
                  %strong
                    = file.title
                    = ": " 
                    = get_file(file.id).file.original_filename
                .large-6.columns
                  %a{"href" => "/member/download_user_file/"+ file.id.to_s} Download
                  %a{"href" => "#", :onclick => "set_registration_file('user_registration_file_#{file.id}', #{file.is_required}, #{file.id.to_s}); return false;"} Ganti File
              .row{"id" =>"user_registration_file_#{file.id}_wrapper", :style => "display:none;"}
                .large-12.columns{"class" => "content"}
                  %label
                    %strong
                      = file.title
                      &nbsp;
                      = file.is_required? == true ?  "(Wajib)" : "(Jika Ada)"
                
                  
            - else
              .row{"id" =>"user_registration_file_#{file.id}_input_wrapper"}
                .large-12.columns{"class" => "content"}
                  %label
                    %strong
                      = file.title
                      &nbsp;
                      = file.is_required? == true ?  "(Wajib)" : "(Jika Ada)"
                  = file_field_tag "user_registration_file[#{file.id}]"
                  :javascript 
                      var is_required = "#{file.is_required}";
                      var data_files = localStorage.getItem("data_files"); 
                      if(data_files){ 
                        data_files = JSON.parse(data_files)
                        data_files.push(["#{'user_registration_file_'+ file.id.to_s}", eval(is_required), "#{file.id.to_s}"]);
                        data_files = JSON.stringify(data_files);
                        localStorage.setItem("data_files", data_files);
                      }else{ 
                        data_files = []
                        data_files.push(["#{'user_registration_file_'+ file.id.to_s}", eval(is_required), "#{file.id.to_s}"]);
                        data_files = JSON.stringify(data_files);
                        localStorage.setItem("data_files", data_files);
                      } 
          .row
            .large-12.columns
              = submit_tag "Simpan", :class => "button small"
              
      .large-6.columns
           
