= content_for :script do
  :javascript
    $(document).ready(function(){
      $("#form-profile").submit(function(){
        var fd = new FormData();
        var file = document.getElementById("user_avatar").files[0]; 
        var transfer = true;
        
        fd.append("authenticity_token", "#{form_authenticity_token}");       
        if(file != undefined){
          fd.append("user[avatar]", file);
        }
        
        fd.append("user[domicile]", $("#user_domicile").val());
        fd.append("user[name]", $("#user_name").val());
        
        if($("#user_id_card_no").val()){
          fd.append("user[id_card_no]", $("#user_id_card_no").val());
        }else{
          transfer = false;
          if($("#user_id_card_no").hasClass("i-error-messages")){
            $("#user_id_card_no").removeClass("i-error-messages");
            $("#user_id_card_no").siblings(".f-error-messages").remove();
            $("#user_id_card_no").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_id_card_no").addClass("i-error-messages");
          }else{
            $("#user_id_card_no").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_id_card_no").addClass("i-error-messages");
          }
        }
        
        if($("#user_tax_card_no").val()){
          fd.append("user[tax_card_no]", $("#user_tax_card_no").val());
        }else{
          transfer = false;
          if($("#user_tax_card_no").hasClass("i-error-messages")){
            $("#user_tax_card_no").removeClass("i-error-messages");
            $("#user_tax_card_no").siblings(".f-error-messages").remove();
            $("#user_tax_card_no").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_tax_card_no").addClass("i-error-messages");
          }else{
            $("#user_tax_card_no").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_tax_card_no").addClass("i-error-messages");
          }
        }
        
        if($("#user_email").val()){
          fd.append("user[email]", $("#user_email").val());
        }else{
          transfer = false;
          if($("#user_email").hasClass("i-error-messages")){
            $("#user_email").removeClass("i-error-messages");
            $("#user_email").siblings(".f-error-messages").remove();
            $("#user_email").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_email").addClass("i-error-messages");
          }else{
            $("#user_email").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_email").addClass("i-error-messages");
          }
        }
        
        
        
        fd.append("user[gender]", $("#user_gender").val());
        fd.append("user[religion_id]", $("#user_religion_id").val());
        
        fd.append("user[phone_no]", $("#user_phone_no").val());
        fd.append("user[mobile_phone_no]", $("#user_mobile_phone_no").val());
        fd.append("user[fax_no]", $("#user_fax_no").val());
        
        
        
        if($("#user_ca_address").val()){
          fd.append("user[ca_address]", $("#user_ca_address").val());
        }else{
          transfer = false;
          if($("#user_ca_address").hasClass("i-error-messages")){
            $("#user_ca_address").removeClass("i-error-messages");
            $("#user_ca_address").siblings(".f-error-messages").remove();
            $("#user_ca_address").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_ca_address").addClass("i-error-messages");
          }else{
            $("#user_ca_address").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_ca_address").addClass("i-error-messages");
          }
        }
        
        
        if($("#user_ca_province").val()){
          fd.append("user[ca_province]", $("#user_ca_province").val());
        }else{
          transfer = false;
          if($("#user_ca_province").hasClass("i-error-messages")){
            $("#user_ca_province").removeClass("i-error-messages");
            $("#user_ca_province").siblings(".f-error-messages").remove();
            $("#user_ca_province").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_ca_province").addClass("i-error-messages");
          }else{
            $("#user_ca_province").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_ca_province").addClass("i-error-messages");
          }
        }
        
        
        if($("#user_ca_city").val()){
          fd.append("user[ca_city]", $("#user_ca_city").val());
        }else{
          transfer = false;
          if($("#user_ca_city").hasClass("i-error-messages")){
            $("#user_ca_city").removeClass("i-error-messages");
            $("#user_ca_city").siblings(".f-error-messages").remove();
            $("#user_ca_city").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_ca_city").addClass("i-error-messages");
          }else{
            $("#user_ca_city").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_ca_city").addClass("i-error-messages");
          }
        }
        
        
        if($("#user_ca_postal_code").val()){
          fd.append("user[ca_postal_code]", $("#user_ca_postal_code").val());
        }else{
          transfer = false;
          if($("#user_ca_postal_code").hasClass("i-error-messages")){
            $("#user_ca_postal_code").removeClass("i-error-messages");
            $("#user_ca_postal_code").siblings(".f-error-messages").remove();
            $("#user_ca_postal_code").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_ca_postal_code").addClass("i-error-messages");
          }else{
            $("#user_ca_postal_code").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#user_ca_postal_code").addClass("i-error-messages");
          }
        }
        
        
        
        
        fd.append("user[ca_rt]", $("#user_ca_rt").val());
        fd.append("user[ca_rw]", $("#user_ca_rw").val());
        fd.append("user[ca_district]", $("#user_ca_district").val());
        fd.append("user[ca_subdistrict]", $("#user_ca_subdistrict").val());
        
        
        
  
        var xhr = new XMLHttpRequest(); 
        xhr.open("PATCH","/member/"+ #{current_user.id});
        
        xhr.onreadystatechange=function(){
          if (xhr.readyState==4 && xhr.status==200) { 
          
            respond = JSON.parse(this.response);
            
            if(respond["success"] == true){
               ikpi_notification("Data Profile Berhasil Disimpan.");
               if(respond["user"]){
                 $("#progress-meter").css("width", new String(parseInt(respond["user"].step_status)*20) +"%" );
                 if(parseInt(respond["user"].step_status) == 5){
                   if($("#progress-wrapper").length > 0){
                     $("#progress-wrapper").parent().html("<a href='/member/validate' class='button_press'>Klik Untuk Validasi Formulir Anda</a>");
                     ikpi_notification("Silahkan Klik Validasi Untuk Konfirmasi Formulir Anda.");
                   }
                 }
               }
               $("form div.f-error-messages").remove();
               $("form input, form select").removeClass("i-error-messages");
            }
          }
        }
        
        if(transfer){
          xhr.send(fd);
        }
        
        return false;
      });
    });
    
= content_for :style do 
  :css
    .f-error-messages {
      font-style: italic,
      font-size: 10px,
      color: red
    }
.row
  .large-12
    .row
      .large-12.columns
        %h2
          Form Data Pribadi
  = form_tag "", :id => "form-profile", :multipart => true, :method => "PATCH" do
    .row
      .large-12.columns
        = submit_tag "Simpan", :class => "button small" 
    .row
      .large-6.columns
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Photo Profile
              %span.important_field
                *
            = file_field_tag "user[avatar]"
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Domisili
            = text_field_tag "user[domicile]", current_user.domicile
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Nama Lengkap
            = text_field_tag "user[name]", current_user.name
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Nomor Kartu Penduduk
              %span.important_field
                *
            = text_field_tag "user[id_card_no]", current_user.id_card_no
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Nomor NPWP
              %span.important_field
                *
            = text_field_tag "user[tax_card_no]", current_user.tax_card_no
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Gender
            = select_tag "user[gender]","<option #{current_user.gender == 'Pria' ? 'selected' : ''}>Pria</option><option #{current_user.gender == 'Wanita' ? 'selected' : ''}>Wanita</option>".html_safe
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Agama 
            = select_tag "user[religion_id]","<option value='0' #{current_user.religion_id == 0 ? 'selected' : ''}>Islam</option><option  value='1' #{current_user.religion_id == 1 ? 'selected' : ''}>Kristen</option><option  value='2' #{current_user.religion_id == 2 ? 'selected' : ''}>Katholik</option><option  value='3' #{current_user.religion_id == 3 ? 'selected' : ''}>Hindu</option><option  value='4' #{current_user.religion_id == 4 ? 'selected' : ''}>Budha</option><option  value='5' #{current_user.religion_id == 5 ? 'selected' : ''}Konghucu</option><option  value='6' #{current_user.religion_id == 6 ? 'selected' : ''}>Lainnya</option>".html_safe
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Email
              %span.important_field
                *
            = text_field_tag "user[email]", current_user.email
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Nomor Telephone Rumah
            = text_field_tag "user[phone_no]", current_user.phone_no
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Nomor Handphone
              %span.important_field
                *
            = text_field_tag "user[mobile_phone_no]", current_user.mobile_phone_no
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Nomor Fax
            = text_field_tag "user[fax_no]", current_user.fax_no
      .large-6.columns
        .row
          .large-12.columns
            %h4
              Alamat Rumah
        %hr
        .row
          .large-12.columns.wrapper
            %label
              %strong
                Alamat Lengkap
              %span.important_field
                *
            = text_area_tag "user[ca_address]", current_user.ca_address
        .row
          .large-12.columns.wrapper
            %label
              %strong
                RT
            = text_field_tag "user[ca_rt]", current_user.ca_rt
        .row
          .large-12.columns.wrapper
            %label
              %strong
                RW
            = text_field_tag "user[ca_rw]", current_user.ca_rw
        .row
          .large-12.columns.wrapper
            %label
              %strong
                Kelurahan
            = text_field_tag "user[ca_subdistrict]", current_user.ca_subdistrict
        .row
          .large-12.columns.wrapper
            %label
              %strong
                Kecamatan
            = text_field_tag "user[ca_district]", current_user.ca_district
        .row
          .large-12.columns.wrapper
            %label
              %strong
                Provinsi
              %span.important_field
                *
            = text_field_tag "user[ca_province]", current_user.ca_province
        .row
          .large-12.columns.wrapper
            %label
              %strong
                Kota
              %span.important_field
                *
            = text_field_tag "user[ca_city]", current_user.ca_city
        .row
          .large-12.columns.wrapper
            %label
              %strong
                Kode Pos
              %span.important_field
                *
            = text_field_tag "user[ca_postal_code]", current_user.ca_postal_code
    .row
      .large-12.columns
        = submit_tag "Simpan", :class => "button small" 
