= content_for :script do
  :javascript
    function delete_work_history(id){
      var fd = new FormData(); 
      var xhr = new XMLHttpRequest(); 
      xhr.open("DELETE","/member/delete_work_history/"+id);
      fd.append("authenticity_token", "#{form_authenticity_token}");
       
      xhr.onload = function(e) {
        respond = JSON.parse(this.response);
        
        if(respond["success"] == true){ 
          ikpi_notification("Ok");
          $("#tbl_work_history .content .row_"+ new String(id)).remove();
          
        }
      } 
      xhr.send(fd);
      return false;
    }
    
    $(document).ready(function(){ 
      $( "#work_history_work_place_entry_date" ).datepicker({ dateFormat: 'dd-mm-yy' });
      $( "#work_history_work_place_out_date" ).datepicker({ dateFormat: 'dd-mm-yy' });
      $("#form-current-work").submit(function(){
        var fd = new FormData(); 
        var transfer = true;
        
        fd.append("authenticity_token", "#{form_authenticity_token}"); 
        
        if($("#work_work_place_name").val()){
          fd.append("work[work_place_name]", $("#work_work_place_name").val());
        }else{
          transfer = false;
          if($("#work_work_place_name").hasClass("i-error-messages")){
            $("#work_work_place_name").removeClass("i-error-messages");
            $("#work_work_place_name").siblings(".f-error-messages").remove();
            $("#work_work_place_name").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_work_place_name").addClass("i-error-messages");
          }else{
            $("#work_work_place_name").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_work_place_name").addClass("i-error-messages");
          }
        } 
        
        if($("#work_work_place_address").val()){
          fd.append("work[work_place_address]", $("#work_work_place_address").val());
        }else{
          transfer = false;
          if($("#work_work_place_address").hasClass("i-error-messages")){
            $("#work_work_place_address").removeClass("i-error-messages");
            $("#work_work_place_address").siblings(".f-error-messages").remove();
            $("#work_work_place_address").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_work_place_address").addClass("i-error-messages");
          }else{
            $("#work_work_place_address").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_work_place_address").addClass("i-error-messages");
          }
        }
        
        if($("#work_work_place_phone_no").val()){
          fd.append("work[work_place_phone_no]", $("#work_work_place_phone_no").val());
        }else{
          transfer = false;
          if($("#work_work_place_phone_no").hasClass("i-error-messages")){
            $("#work_work_place_phone_no").removeClass("i-error-messages");
            $("#work_work_place_phone_no").siblings(".f-error-messages").remove();
            $("#work_work_place_phone_no").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_work_place_phone_no").addClass("i-error-messages");
          }else{
            $("#work_work_place_phone_no").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_work_place_phone_no").addClass("i-error-messages");
          }
        }
          
        if($("#work_work_place_position").val()){
          fd.append("work[work_place_position]", $("#work_work_place_position").val());
        }else{
          transfer = false;
          if($("#work_work_place_position").hasClass("i-error-messages")){
            $("#work_work_place_position").removeClass("i-error-messages");
            $("#work_work_place_position").siblings(".f-error-messages").remove();
            $("#work_work_place_position").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_work_place_position").addClass("i-error-messages");
          }else{
            $("#work_work_place_position").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_work_place_position").addClass("i-error-messages");
          }
        }
        
        
        
        fd.append("work[work_place_phone_extension_no]", $("#work_work_place_phone_extension_no").val()); 
        fd.append("work[work_place_fax_no]", $("#work_work_place_fax_no").val());
        fd.append("work[work_place_job_level_id]", $("#work_work_place_job_level_id").val());
        fd.append("work[work_place_field_of_interest_id", $("#work_work_place_field_of_interest_id").val());
        fd.append("work[work_place_other_foi_id]", $("#work_work_place_other_foi_id").val()); 
        fd.append("work[work_place_type_id]", $("#work_work_place_type_id").val());
        fd.append("work[work_place_business_category_id]", $("#work_work_place_business_category_id").val());
        fd.append("work[is_current]", true);
  
  
        var xhr = new XMLHttpRequest(); 
        xhr.open("PATCH","/member/update_work_history/");
        xhr.onload = function(e) {
          respond = JSON.parse(this.response);
          
          if(respond["success"] == true){
             ikpi_notification("Data Pekerjaan Anda Saat Ini Berhasil Disimpan.");
             
             if(respond["user"]){
               $("#progress-meter").css("width", new String(parseInt(respond["user"].step_status)*20) +"%" );
               if(parseInt(respond["user"].step_status) == 5){
                   if($("#progress-wrapper").length > 0){
                     $("#progress-wrapper").parent().html("<a href='/member/validate' class='button_press'>Klik Untuk Validasi Formulir Anda</a>");
                     ikpi_notification("Silahkan Klik Validasi Untuk Konfirmasi Formulir Anda.");
                   }
                }
             }
             $("#form-current-work div.f-error-messages").remove();
             $("#form-current-work input, form select, textarea").removeClass("i-error-messages");
          }
        }
        
        if(transfer){
          xhr.send(fd);
        }
        return false;
      });
      
      $("#form-workplace-history").submit(function(){
        var fd = new FormData(); 
        var transfer = true;
        fd.append("authenticity_token", "#{form_authenticity_token}");               
        
        
        if($("#work_history_work_place_name").val()){
          fd.append("work[work_place_name]", $("#work_history_work_place_name").val());
        }else{
          transfer = false;
          if($("#work_history_work_place_name").hasClass("i-error-messages")){
            $("#work_history_work_place_name").removeClass("i-error-messages");
            $("#work_history_work_place_name").siblings(".f-error-messages").remove();
            $("#work_history_work_place_name").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_history_work_place_name").addClass("i-error-messages");
          }else{
            $("#work_history_work_place_name").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_history_work_place_name").addClass("i-error-messages");
          }
        } 
        
        
        if($("#work_history_work_place_position").val()){
          fd.append("work[work_place_position]", $("#work_history_work_place_position").val());
        }else{
          transfer = false;
          if($("#work_history_work_place_position").hasClass("i-error-messages")){
            $("#work_history_work_place_position").removeClass("i-error-messages");
            $("#work_history_work_place_position").siblings(".f-error-messages").remove();
            $("#work_history_work_place_position").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_history_work_place_position").addClass("i-error-messages");
          }else{
            $("#work_history_work_place_position").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_history_work_place_position").addClass("i-error-messages");
          }
        } 
        
        
        
        if($("#work_history_work_place_division").val()){
          fd.append("work[work_place_division]", $("#work_history_work_place_division").val());
        }else{
          transfer = false;
          if($("#work_history_work_place_division").hasClass("i-error-messages")){
            $("#work_history_work_place_division").removeClass("i-error-messages");
            $("#work_history_work_place_division").siblings(".f-error-messages").remove();
            $("#work_history_work_place_division").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_history_work_place_division").addClass("i-error-messages");
          }else{
            $("#work_history_work_place_division").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_history_work_place_division").addClass("i-error-messages");
          }
        } 
        
        
        if($("#work_history_work_place_entry_date").val()){
          fd.append("work[work_place_entry_date]", $("#work_history_work_place_entry_date").val());
        }else{
          transfer = false;
          if($("#work_history_work_place_entry_date").hasClass("i-error-messages")){
            $("#work_history_work_place_entry_date").removeClass("i-error-messages");
            $("#work_history_work_place_entry_date").siblings(".f-error-messages").remove();
            $("#work_history_work_place_entry_date").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_history_work_place_entry_date").addClass("i-error-messages");
          }else{
            $("#work_history_work_place_entry_date").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_history_work_place_entry_date").addClass("i-error-messages");
          }
        } 
        
        
        if($("#work_history_work_place_out_date").val()){
          fd.append("work[work_place_out_date]", $("#work_history_work_place_out_date").val()); 
        }else{
          transfer = false;
          if($("#work_history_work_place_out_date").hasClass("i-error-messages")){
            $("#work_history_work_place_out_date").removeClass("i-error-messages");
            $("#work_history_work_place_out_date").siblings(".f-error-messages").remove();
            $("#work_history_work_place_out_date").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_history_work_place_out_date").addClass("i-error-messages");
          }else{
            $("#work_history_work_place_out_date").after("<div class='f-error-messages'>Wajib Diisi</div>");
            $("#work_history_work_place_out_date").addClass("i-error-messages");
          }
        } 
        
        
        
        
       
        fd.append("work[work_place_short_description]", $("#work_history_work_place_short_description").val()); 
        fd.append("work[is_current]", false);
  
  
        var xhr = new XMLHttpRequest(); 
        xhr.open("PATCH","/member/update_work_history/");
        xhr.onload = function(e) {
          respond = JSON.parse(this.response);
          
          if(respond["success"] == true){
             ikpi_notification("Data Riwayat Pekerjaan Berhasil Disimpan.");
             $("#form-workplace-history div.f-error-messages").remove();
             if(respond["user"]){
               $("#progress-meter").css("width", new String(parseInt(respond["user"].step_status)*20) +"%" );
             }
             if(parseInt(respond["user"].step_status) == 5){
                   if($("#progress-wrapper").length > 0){
                     $("#progress-wrapper").parent().html("<a href='/member/validate' class='button_press'>Klik Untuk Validasi Formulir Anda</a>");
                     ikpi_notification("Silahkan Klik Validasi Untuk Konfirmasi Formulir Anda.");
                   }
              }
             $("#form-workplace-history input, form select, textarea").removeClass("i-error-messages");
             var content = ""; 
             
             content += "<tr class='row_"+respond["user_work"]["id"]+"'>";
             content += "  <td>"+respond["user_work"]["work_place_name"]+"</td>";
             content += "  <td>"+respond["user_work"]["work_place_position"]+"</td>";
             content += "  <td>"+respond["user_work"]["work_place_division"]+"</td>";
             content += "  <td>"+respond["user_work"]["work_place_entry_date"]+"</td>";
             content += "  <td>"+respond["user_work"]["work_place_out_date"]+"</td>";
             content += "  <td>"+respond["user_work"]["work_place_short_description"]+"</td>";
             content += "  <td><a href='#' onclick='delete_work_history("+respond["user_work"]["id"]+");return false;'>Hapus</a></td>";
             content += "</tr>";
              
             if($("#tbl_work_history .content").children("tr").length == 0){
               $("#tbl_work_history .content").append(content);
             }else{
               $("#tbl_work_history .content tr:first").after(content);
             }
             
             $("#form-workplace-history")[0].reset();
          }
        }
        
        if(transfer){
          xhr.send(fd);
        }
        
        return false;
      });
    });

.row
  .large-12
    .row
      .large-12.columns
        %h2
          Form Data Pekerjaan
    .row
      .large-6.columns  
        .row
          .large-12.columns
            %h4
              Data Pekerjaan Saat Ini
        = form_tag "", :id => "form-current-work", :multipart => true, :method => "PATCH" do
          = hidden_field_tag "work[is_current]", true
          .row
            .large-12.columns
              = submit_tag "Simpan", :class => "button small"
          .row
            .large-12.columns
              %label
                %strong 
                  Nama Perusahaan / Instansi
                %span.important_field
                  *
              = text_field_tag "work[work_place_name]", current_user.current_workplace.present? ? current_user.current_workplace.work_place_name : ""
          .row
            .large-12.columns
              %label
                %strong 
                  Jabatan
                %span.important_field
                  *
              = text_field_tag "work[work_place_position]" , current_user.current_workplace.present? ? current_user.current_workplace.work_place_position : ""
          .row
            .large-12.columns
              %label
                %strong 
                  Alamat Kantor
                %span.important_field
                  *
              = text_area_tag "work[work_place_address]" , current_user.current_workplace.present? ? current_user.current_workplace.work_place_address : ""
          .row
            .large-12.columns
              %label
                %strong 
                  Nomor Telepon
                %span.important_field
                  *
              = text_field_tag "work[work_place_phone_no]" , current_user.current_workplace.present? ? current_user.current_workplace.work_place_phone_no : ""
          .row
            .large-12.columns
              %label
                %strong 
                  Extension
              = text_field_tag "work[work_place_phone_extension_no]" , current_user.current_workplace.present? ? current_user.current_workplace.work_place_phone_extension_no : ""
          .row
            .large-12.columns
              %label
                %strong 
                  Nomor Fax
              = text_field_tag "work[work_place_fax_no]" , current_user.current_workplace.present? ? current_user.current_workplace.work_place_fax_no : ""
          .row
            .large-12.columns
              %label
                %strong 
                  Job Level
              = select_tag "work[work_place_job_level_id]", options_for_select(Preference::HJOB_LEVEL , current_user.current_workplace.present? ? current_user.current_workplace.work_place_job_level_id : 0)
          .row
            .large-12.columns
              %label
                %strong 
                  Bidang Minat
              = select_tag "work[work_place_field_of_interest_id]", options_for_select(Preference::HJOB_FOI , current_user.current_workplace.present? ? current_user.current_workplace.work_place_field_of_interest_id : 0 )
          .row
            .large-12.columns
              %label
                %strong 
                  Bidang Minat Lainnya
              = select_tag "work[work_place_other_foi_id]", options_for_select(Preference::HJOB_OTH_FOI , current_user.current_workplace.present? ? current_user.current_workplace.work_place_other_foi_id : 0 )
          .row
            .large-12.columns
              %label
                %strong 
                  Tipe Perusahaan/Instansi
              = select_tag "work[work_place_type_id]", options_for_select(Preference::HWORKPLACE_TYPE  , current_user.current_workplace.present? ? current_user.current_workplace.work_place_type_id : 0 )
          .row
            .large-12.columns
              %label
                %strong 
                  Kategori Bisnis
              = select_tag "work[work_place_business_category_id]", options_for_select(Preference::HJOB_BUSINESS_CAT , current_user.current_workplace.present? ? current_user.current_workplace.work_place_business_category_id : 0  )
          .row
            .large-12.columns
              = submit_tag "Simpan", :class => "button small"
              
      .large-6.columns
        .row
          .large-12.columns
            %h4
              Formulir Riwayat Pekerjaan
        = form_tag "", :id => "form-workplace-history",:multipart => true, :method => "PATCH"  do
          = hidden_field_tag "work[is_current]", false
        
          .row
            .large-12.columns
              = submit_tag "Tambahkan", :class => "button small"
          .row
            .large-12.columns
              %label
                %strong
                  Perusahaan
                %span.important_field
                  *
              = text_field_tag "work_history[work_place_name]", ""
          .row
            .large-12.columns
              %label
                %strong
                  Jabatan
                %span.important_field
                  *
              = text_field_tag "work_history[work_place_position]", ""
          .row
            .large-12.columns
              %label
                %strong
                  Devisi
                %span.important_field
                  *
              = text_field_tag "work_history[work_place_division]", ""
          .row
            .large-12.columns
              %label
                %strong
                  Tanggal Masuk
                %span.important_field
                  *
              = text_field_tag "work_history[work_place_entry_date]", ""
          .row
            .large-12.columns
              %label
                %strong
                  Tanggal Berakhir
                %span.important_field
                  *
              = text_field_tag "work_history[work_place_out_date]", ""
          .row
            .large-12.columns
              %label
                %strong
                  Uraian Pekerjaan
              = text_area_tag "work_history[work_place_short_description]", ""
          
          .row
            .large-12.columns
              = submit_tag "Tambahkan", :class => "button small"
%hr
.row
  .large-12.columns
    .row
      .large-12.columns
        %h3
          Riwayat Pekerjaan
    .row
      .large-12.columns
        %table{"id" => "tbl_work_history"}
          %thead
            %tr 
              %td
                Perusahaan
              %td
                Jabatan
              %td
                Devisi
              %td
                Tanggal Masuk
              %td
                Tanggal Berakhir
              %td
                Uraian Pekerjaan
              %td
                Aksi
          %tbody{"class" => "content"}
            - @user_works.each do |work|
              %tr{"class" =>"row_"+work.id.to_s}
                %td
                  = work.work_place_name
                %td
                  = work.work_place_position
                %td
                  = work.work_place_division
                %td
                  = work.work_place_entry_date.present? ? work.work_place_entry_date.strftime("%d-%m-%Y") : "-"
                %td
                  = work.work_place_out_date.present? ? work.work_place_out_date.strftime("%d-%m-%Y") : "-"
                %td
                  = work.work_place_short_description
                %td
                  %a{"href" =>"#", :onclick => "delete_work_history('"+work.id.to_s+"');return false;"}
                    Hapus
                  
