= content_for :script do 
  :javascript
    $(document).ready(function(){
      var step_status = "#{current_user.step_status}";
      step_status = parseInt(step_status)+1;
      $("#tap"+ new String(step_status) ).trigger("click");
      
       

    }); 
.row
  .large-12.columns
    %h1
      Pendaftaran Keanggotaan IKPI
.row
  .large-12.columns
    %ul.ca-menu
      %li
        %a{:href => "#"}
          %span.ca-icon IKPI
          .ca-content
            %h2.ca-main Status Keanggotaan
            %h3.ca-sub
              = Preference::MEMBER_STAGE_STATUS[current_user.status_stage]
- if current_user.confirmed? and current_user.member_status == 1
  .row
    .large-12.columns
      Anda Telah Diterima Sebagai Anggota IKPI.
  .row
    .large-12.columns
      Masa Keanggotaan Anda Berakhir Pada Tanggal
      %strong
        = current_user.registered_to.strftime("%y %B %Y %H:%M")

- if current_user.status_stage == 2
  - unless @reg_invoice.is_confirmed
    .row
      .large-12.columns 
        .row
          .large-12.columns
            Kode Invoice Untuk Pembayaran Keanggotaan : #{@reg_invoice.invoice_note_id}
      
        .row
          .large-12.columns
            Silahkan Melakukan Pembayaran Dan Konfirmasi  
            %a{"href" => confirmation_invoice_path(@reg_invoice)}
              Disini
  - else
    .row
      .large-12.columns
        Anda Telah Melakukan Konfirmasi Pembayaran Keanggotaan Dengan Kode Invoice : #{@reg_invoice.invoice_note_id}
        %br
        Status Pembayaran : #{Preference::INVOICE_STATUS[@reg_invoice.status_id]}
            
            
- if ( current_user.admin_note.present? ) && (current_user.status_stage == 0 || current_user.status_stage == 1)
  .row
    .large-12.columns
      .row
        .large-12.columns
          Berikut Catatan Dari Admin Mengenai Data Anda, Silahkan Klik Tombol Validasi Lagi Apabila Data Anda Yang Kurang Sudah Dipenuhi.
      .row
        .large-12.columns
          = raw current_user.admin_note
- if current_user.status_stage == 0
  %hr
  .row
    .large-12.columns
      #member-form-wrapper.row
        #member-form.large-12.columns
          .row
            .large-12.columns
              %h5
                Silahkan Mengisi Formulir Berikut.
              .row 
                .large-12.columns
                  - if current_user.step_status == 5
                    %a{"href" => validate_member_index_path, :class => "button_press"}
                      Klik Untuk Validasi Formulir Anda
                  -else
                    #progress-wrapper.progress.large-10.alert
                      %span#progress-meter.meter{"style" => "width:#{current_user.step_status.to_i * 20}%;"} 
          %br
          %dl.tabs{"data-tab" => ""}
            %dd.active
              %a{:href => "#panel1", :id => "tap1"} Pribadi
            %dd
              %a{:href => "#panel2", :id => "tap2"} Pendidikan
            %dd
              %a{:href => "#panel3", :id => "tap3"} Pekerjaan
            %dd
              %a{:href => "#panel4", :id => "tap4"} Sertifikasi
            %dd
              %a{:href => "#panel5", :id => "tap5"} Berkas 
            .row
              .large-12.columns
                %span.important_field
                  *
                (
                Wajib Diisi
                )
            %hr
              
          .tabs-content
            #panel1.content.active
              #member-form-profile.row
                .large-12.columns
                  = render("member/profile")
            #panel2.content
              #member-form-education.row
                .large-12.columns
                  = render("member/education")
            #panel3.content
              #member-form-work.row
                .large-12.columns
                  = render("member/work")
            #panel4.content
              #member-form-certification.row
                .large-12.columns
                  = render("member/certification")
            #panel5.content
              #member-form-files.row
                .large-12.columns
                  = render("member/files")
