.row
  .large-12.columns
    %ul{"class" => "small-block-grid-2 medium-block-grid-3 large-block-grid-4"}
      %li
        %a{"href" => form_reg_type_member_index_path(1)}
          %ul{"class" => "pricing-table"} 
            %li.title
              Registrasi 1 
            %li.description
              %img{"src" => "/assets/reg1-ill.png"}
            %li{"class" => "bullet-item"} 
              Anda Belum Terdaftar secara Offline Maupun Online
      %li
        %a{"href" => form_reg_type_member_index_path(2)}
          %ul{"class" => "pricing-table"} 
            %li.title
              Registrasi 2 
            %li.description
              %img{"src" => "/assets/reg2-ill.png"}
            %li{"class" => "bullet-item"} 
              Anda Sudah Terdaftar Secara Offline Tapi Tidak Secara Online
      %li
        %a{"href" => form_reg_type_member_index_path(3)}
          %ul{"class" => "pricing-table"} 
            %li.title
              Registrasi Ulang 
            %li.description
              %img{"src" => "/assets/reg3-ill.png"}
            %li{"class" => "bullet-item"} 
              Anda Sudah Terdaftar Secara Offline Dan Secara Online
            %li{"class" => "bullet-item"} 
              Masa Keanggotaan Telah Berakhir
