.row
  .large-12.columns
    .row
      .large-12.columns
        %label 
          %strong
            Selamat Anda Telah Terkonfirmasi Sebagai Anggota IKPI Lounge
            %br
            Kami Telah Mengirimkan Data Login Ke Email Yang Anda Telah Daftarkan.
    %hr
    .row
      .large-12.columns
        .row 
          .large-12.columns
            .row
              .large-12.columns
                Berikut Data Login Anda,
            .row
              .large-6.columns
                %label
                  %strong
                    Username / Email :
              .large-6.columns
                = @user.email
            .row
              .large-6.columns
                %label
                  %strong
                    Password :
              .large-6.columns
                = @user.unhashed_password 
      %hr 
        %a{"href" => lounges_path, :class => "button small"} IKPI Lounge
