/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require jquery-ui
 */
 
 .arrow_box { 
   position: relative; 
   background: #82878E; 
   border: 4px solid #939AA1; 
} 
.arrow_box:after, .arrow_box:before { 
  left: 100%; 
  top: 50%; 
  border: solid transparent; 
  content: " "; 
  height: 0; 
  width: 0; 
  position: absolute; pointer-events: none; 
} 
.arrow_box:after { 
  border-color: rgba(130, 135, 142, 0); 
  border-left-color: #82878E; 
  border-width: 30px; 
  margin-top: -30px; 
} 
.arrow_box:before { 
  border-color: rgba(147, 154, 161, 0); 
  border-left-color: #939AA1; 
  border-width: 36px; 
  margin-top: -36px; 
}
#notification-wrapper {
  position: fixed;
  top: 0;
  background-color: #cccccc;
  z-index: 9999;
  display: none;
  -moz-box-shadow: 0 45px 60px -50px #000000;
  -webkit-box-shadow: 0 45px 60px -50px #000000;
  box-shadow: 0 45px 60px -50px #000000;
  font-size: 15px;
} 

form div.f-error-messages{
  font-style: italic;
  font-size: 10px;
  color: red;
}


form .i-error-messages{
  background-color: red;
}


.boxy {   
  background-color: white;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.75);
  margin-bottom: 15px;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

form .error_field {
  background-color: red;
}
 
.label_error{
  color: black;
}

.important_field {
  color: red;
}


.ca-menu{
    padding:0;
    position: fixed;
    top: 45px;
    right: 0px;
/*   
    margin:20px auto;
    width: 1020px;
    font-family: 'Dosis', sans-serif;
*/
}

.ca-menu li{
    width: 175px;
    height: 300px;
    border: 10px solid #f6f6f6;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    margin-right: 4px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  /*  -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;*/
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-menu li:last-child{
    margin-right: 0px;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
   -moz-box-shadow:0px 0px 3px #000000;
   -webkit-box-shadow:0px 0px 3px #000000;
   box-shadow:0px 0px 3px #000000;
 
}
.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 40px;
    color: #f6f6f6;;
    line-height: 60px;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 30px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-main{
    font-size: 24px;
    position: absolute;
    top: 110px;
    height: 80px;
    width: 170px;
    left: 50%;
    margin-left: -85px;
    opacity: 0.8;
    text-align: center;
}
.ca-sub{
    text-align:center;
    color: #000;
    font-size: 26px;
    position: absolute;
    height: 80px;
    width: 170px;
    left: 50%;
    margin-left: -85px;
    top: 110px;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-menu li:hover{
    background: #f7f7f7;
    border-color: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 45px 60px -50px #000000;
}
.ca-menu li:hover .ca-icon{
    color: #555;
    font-size: 60px;
}
.ca-menu li:hover .ca-main{
    display: none;
}
.ca-menu li:hover .ca-sub{
   opacity: 0.8;
}

a.button_press {
  background-color: #6fba26;
  padding: 10px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
  box-shadow: inset 0px 1px 0px #b2f17f, 0px 6px 0px #3d6f0d;
  border-radius: 5px;
}

a.button_press:active {
    top:7px;
    background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
    box-shadow: inset 0px 1px 0px #b2f17f, inset 0px -1px 0px #3d6f0d;
    color: #156785;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
    background: rgb(44,160,202);
}
