.row
  .large-6.columns.end
    .row
      .large-12.columns
        %h4
          List Pengguna Baru Baru Ini Registrasi
    .row
      .large-12.columns
        %table
          %thead
            %tr 
              %th
                Email
              %th 
                Status Konfirmasi
              %th 
                Aksi
          %tbody
            - @recently_created_users.each do |user|
              %tr 
                %td
                  = user.email
                %td
                  = user.confirmed? ? "Sudah Konfirmasi" : "Belum Konfirmasi"
                %td
    .row
      .large-12.columns
        %a{"href" => admin_users_path } Ke Daftar Pengguna
  .large-6.columns.end
    .row
      .large-12.columns
        %h4
          List Pengguna Untuk Divalidasi
    .row
      .large-12.columns
        %table
          %thead
            %tr 
              %th
                Name
              %th 
                Email
              %th 
                Aksi
          %tbody
            - @validate_users.each do |user|
              %tr 
                %td
                  = user.name
                %td
                  = user.email
                %td
                  %a{"href" => admin_user_registration_form_path(user)} Cek Formulir Pendaftaran
    .row
      .large-12.columns
        %a{"href" => admin_users_path } Ke Daftar Pengguna

.row
  .large-6.columns.end
    .row
      .large-12.columns
        %h4
          Daftar Konfirmasi Pembayaran Yang Perlu Di Proses
    .row
      .large-12.columns
        %table
          %thead
            %tr 
              %th
                Invoice ID
              %th 
                Title 
              %th 
                Tanggal Pembayaran
              %th 
                Pembayaran Dilakukan Oleh
              %th 
                Aksi
          %tbody
            - @confirmable_invoices.each do |invoice|
              %tr 
                %td
                  = invoice.invoice_note_id
                %td
                  = invoice.invoice_title
                %td
                  = invoice.invoice_confirmation.present? ? (invoice.invoice_confirmation.paid_on.strftime("%d-%m-%Y") if invoice.invoice_confirmation.paid_on.present? ) : "-"
                %td
                  = invoice.invoice_confirmation.present? ? (invoice.invoice_confirmation.paid_by if invoice.invoice_confirmation.paid_by.present?) : "-" 
                %td
                  %a{"href" => confirmation_admin_invoice_path(invoice) } Memproses Konfirmasi Pembayaran
