.row
  .large-12
    .row
      .large-12.columns    
        .row
          .large-12.columns
            %label
              %strong
                Tanggal Lulus
            = text_field_tag "user_certification[certification_date_of_graduation]", ""
        .row
          .large-12.columns
            %label
              %strong
                Nama Sertifikasi
            = text_field_tag "user_certification[certification_name]", ""
        .row
          .large-12.columns
            %label
              %strong
                Nomor Sertifikasi
            = text_field_tag "user_certification[certification_no]", ""
        .row
          .large-12.columns
            %label
              %strong
                Penyelenggara
            = text_field_tag "user_certification[certification_issuer]", ""  
