.row
  .large-12
    .row
      .large-12.columns 
        .row
          .large-6.columns
            %label
              %strong 
                Jenjang Pendidikan
          .large-6.columns
            = select_tag "user_education[education_institution_stage_id]", options_for_select(Preference::HEDU_STAGE)
        .row
          .large-6.columns
            %label
              %strong 
                Tanggal Ijazah
          .large-6.columns
            = date_field_tag "user_education[date_of_diploma]", ""
        .row
          .large-6.columns
            %label
              %strong 
                Nama Perguruan Tinggi
          .large-6.columns
            = text_field_tag "user_education[education_institution_name]", ""
        .row
          .large-6.columns
            %label
              %strong 
                Program Studi
          .large-6.columns
            = text_field_tag "user_education[education_institution_course]", ""
        .row
          .large-6.columns
            %label
              %strong 
                Kota Universitas
          .large-6.columns
            = text_field_tag "user_education[education_institution_city]", ""
         
