.row
  .large-12
    .row
      .large-6.columns    
        - UserRegistrationFile.all.each do |file|
          .row
            .large-12.columns
              %label
                %strong
                  = file.title
                  &nbsp;
                  = file.is_required? == true ?  "(Wajib)" : "(Jika Ada)"
              %label
                Apakah Ada?

