.row
  .large-12
    .row
      .large-12.columns
        .row
          .large-6.columns
            %label
              %strong 
                Photo Profile
          .large-6.columns
            %img{"src" => current_user.avatar.url}
        .row
          .large-6.columns
            %label
              %strong 
                Domisili
          .large-6.columns
            = current_user.domicile
        .row
          .large-6.columns
            %label
              %strong 
                Nama Lengkap
          .large-6.columns
            = current_user.name
        .row
          .large-6.columns
            %label
              %strong 
                Nomor Kartu Penduduk
          .large-6.columns
            = current_user.id_card_no
        .row
          .large-6.columns
            %label
              %strong 
                Nomor NPWP
          .large-6.columns
            = current_user.tax_card_no
        .row
          .large-6.columns
            %label
              %strong 
                Gender
          .large-6.columns
            = current_user.gender
        .row
          .large-6.columns
            %label
              %strong 
                Agama 
          .large-6.columns
            = current_user.religion_id
        .row
          .large-6.columns
            %label
              %strong 
                Email
          .large-6.columns
            = current_user.email
        .row
          .large-6.columns
            %label
              %strong 
                Nomor Telephone Rumah
          .large-6.columns
            = current_user.phone_no
        .row
          .large-6.columns
            %label
              %strong 
                Nomor Handphone
          .large-6.columns
            = current_user.mobile_phone_no
        .row
          .large-6.columns
            %label
              %strong 
                Nomor Fax
          .large-6.columns
            = current_user.fax_no
      .large-12.columns
        .row
          .large-6.columns
            %h4
              Alamat Rumah
        %hr
        .row
          .large-6.columns
            %label
              %strong
                Alamat Lengkap
          .large-6.columns
            = current_user.ca_address
        .row
          .large-6.columns
            %label
              %strong
                RT
          .large-6.columns
            = current_user.ca_rt
        .row
          .large-6.columns
            %label
              %strong
                RW
          .large-6.columns
            = current_user.ca_rw
        .row
          .large-6.columns
            %label
              %strong
                Kelurahan
          .large-6.columns
            = current_user.ca_subdistrict
        .row
          .large-6.columns
            %label
              %strong
                Kecamatan
          .large-6.columns
            = current_user.ca_district
        .row
          .large-6.columns
            %label
              %strong
                Provinsi
          .large-6.columns
            = current_user.ca_province
        .row
          .large-6.columns
            %label
              %strong
                Kota
          .large-6.columns
            = current_user.ca_city
        .row
          .large-6.columns
            %label
              %strong
                Kode Pos
          .large-6.columns
            = current_user.ca_postal_code
