.row
  .large-12
    .row
      .large-12.columns  
        .row
          .large-12.columns
            %h4
              Data Pekerjaan Saat Ini
          .row
            .large-6.columns
              %label
                %strong 
                  Nama Perusahaan / Instansi
            .large-6.columns
              = current_user.current_workplace.present? ? current_user.current_workplace.work_place_name : "KOSONG"
          .row
            .large-6.columns
              %label
                %strong 
                  Jabatan
            .large-6.columns
              = current_user.current_workplace.present? ? current_user.current_workplace.work_place_position : "KOSONG"
          .row
            .large-6.columns
              %label
                %strong 
                  Alamat Kantor
            .large-6.columns
              = current_user.current_workplace.present? ? current_user.current_workplace.work_place_address : "KOSONG"
          .row
            .large-6.columns
              %label
                %strong 
                  Nomor Telepon
            .large-6.columns
              = current_user.current_workplace.present? ? current_user.current_workplace.work_place_phone_no : "KOSONG"
          .row
            .large-6.columns
              %label
                %strong 
                  Extension
            .large-6.columns
              = current_user.current_workplace.present? ? current_user.current_workplace.work_place_phone_extension_no : "KOSONG"
          .row
            .large-6.columns
              %label
                %strong 
                  Nomor Fax
            .large-6.columns
              = current_user.current_workplace.present? ? current_user.current_workplace.work_place_fax_no : "KOSONG"
          .row
            .large-6.columns
              %label
                %strong 
                  Job Level
            .large-6.columns
              = current_user.current_workplace.present? ? Preference::JOB_LEVEL[current_user.current_workplace.work_place_job_level_id] : "KOSONG" 
          .row
            .large-6.columns
              %label
                %strong 
                  Bidang Minat
            .large-6.columns
              = current_user.current_workplace.present? ? Preference::JOB_FOI[current_user.current_workplace.work_place_field_of_interest_id] : "KOSONG"
          .row
            .large-6.columns
              %label
                %strong 
                  Bidang Minat Lainnya
            .large-6.columns
              = current_user.current_workplace.present? ? Preference::JOB_OTH_FOI[current_user.current_workplace.work_place_other_foi_id] : "KOSONG" 
          .row
            .large-6.columns
              %label
                %strong 
                  Tipe Perusahaan/Instansi
            .large-6.columns
              = current_user.current_workplace.present? ? Preference::WORKPLACE_TYPE[current_user.current_workplace.work_place_type_id] : "KOSONG"
          .row
            .large-6.columns
              %label
                %strong 
                  Kategori Bisnis
            .large-6.columns
              = current_user.current_workplace.present? ? Preference::JOB_BUSINESS_CAT[current_user.current_workplace.work_place_business_category_id] : "KOSONG" 
              
      
