.row
  .large-12.columns
    .row
      .large-12.columns
        %h2
          List Pengguna
    .row
      .large-12.columns
        %table
          %thead
            %tr
              %th
                Nama
              %th 
                Status
              %th 
                Keanggotaan Dimulai
              %th 
                Keanggotaan Berakhir
              %th 
                Sisa Hari (Keanggotaan)
              %th
                Aksi
          %tbody
            - @users.each do |user|
              %tr
                %td
                  = user.name || user.email
                %td
                  = user.confirmed? ? "Sudah Konfirmasi" : "Belum Konfirmasi"
                %td
                  = user.registered_from.present? ? user.registered_from.strftime("%d-%m-%Y %H:%M:%S") : ""
                %td
                  = user.registered_to.present? ? user.registered_to.strftime("%d-%m-%Y %H:%M:%S") : ""
                %td
                  = user.registered_to.present? ? "#{((user.registered_to - DateTime.now).to_i / 1.day)} Hari" : "-"
                %td
                  %a{"href" => admin_user_registration_form_path(user)} Formulir Pendaftaran
                  - if user.confirmed? and user.member_status == 1
                    %a{"href" => set_registration_date_admin_user_path(user)} Atur Validasi Tanggal Keanggotaan
