.row
  .large-12.columns
    .row
      .large-12.columns
        %h2
          Formulir Registrasi Anggota
    .row
      .lage-12.columns
        %div{"data-magellan-expedition" => "fixed"}
          %dl.sub-nav
            %dd{"data-magellan-arrival" => "profile"}
              %a{:href => "#profile"} Data Pribadi
            %dd{"data-magellan-arrival" => "education"}
              %a{:href => "#education"} Data Pendidikan
            %dd{"data-magellan-arrival" => "work"}
              %a{:href => "#work"} Data Pekerjaan
            %dd{"data-magellan-arrival" => "certification"}
              %a{:href => "#certification"} Data Sertifikasi
            %dd{"data-magellan-arrival" => "files"}
              %a{:href => "#files"} Berkas Yang Dibutuhkan
    %hr
    #profile.row{"data-magellan-destination" => "profile"}
      .large-12.columns
        .row
          .large-12.columns
            %h4
              Data Pribadi
        .row
          .large-12.columns
            = render("admin/users/profile")
    %hr
    #education.row{"data-magellan-destination" => "education"}
      .large-12.columns
        .row
          .large-12.columns
            %h4
              Data Pendidikan
        .row
          .large-12.columns
            = render("admin/users/education")
    #work.row{"data-magellan-destination" => "work"}
      .large-12.columns
        .row
          .large-12.columns
            %h4
              Data Pekerjaan
        .row
          .large-12.columns
            = render("admin/users/work")
    #certification.row{"data-magellan-destination" => "certification"}
      .large-12.columns
        .row
          .large-12.columns
            %h4
              Data Sertifikasi
        .row
          .large-12.columns
            = render("admin/users/certification")
    #files.row{"data-magellan-destination" => "files"}
      .large-12.columns
        .row
          .large-12.columns
            %h4
              Berkas Yang Dibutuhkan
        .row
          .large-12.columns
            = render("admin/users/files")
