= content_for :script do 
  :javascript
    $(document).ready(function(){
      $('#start_date').datetimepicker({
          dateFormat: 'dd-mm-yy',
          timeFormat: 'HH:mm:ss',
          changeMonth: true,
          changeYear: true
      });
      
      $('#end_date').datetimepicker({
          dateFormat: 'dd-mm-yy',
          timeFormat: 'HH:mm:ss',
          changeMonth: true,
          changeYear: true
      });
    });
.row
  .large-12.columns
    .row
      .large-12.columns
        %h4
          Atur Tanggal Keanggotaan
    %hr
    .row
      .large-12.columns
        = @user.name 
        %span
          - if @user.member_status == 1
            Telah Terkonfirmasi
    .row
      .large-12.columns
        Silahkan Input Tanggal Keanggotaan
    .row
      .large-12.columns
        = form_tag create_registration_date_admin_user_path(@user), :method => "POST" do 
          .row
            .large-6.columns
              %label
                %strong
                  Tanggal Mulai Keanggotaan
            .large-6.columns
              %label
                %strong
                  Tanggal Berakhir Keanggotaan
          .row
            .large-6.columns
              = text_field_tag "start_date", @user.registered_from.present? ? @user.registered_from.strftime("%d-%m-%Y %H:%M:%S") : "", :required =>  true
            .large-6.columns
              = text_field_tag "end_date", @user.registered_to.present? ? @user.registered_to.strftime("%d-%m-%Y %H:%M:%S") : "", :required =>  true
          .row
            .large-12.columns
              = submit_tag "Atur", :class => "columns small"
    
