.row
  .large-12
    .row
      .large-12.columns
        %h4
          Riwayat Sertifikasi
    .row
      .large-12.columns
        %table{"id" => "tbl_certification_history"}
          %thead
            %tr
              %td
                Tanggal Lulus
              %td
                Nama Sertifikasi
              %td
                Nomor Sertifikasi
              %td
                Penyelenggara  
          %tbody{"class" => "content"}
            - @user_certifications.each do |cert|
              %tr{"class" =>"row_"+cert.id.to_s}
                %td
                  = cert.certification_date_of_graduation.present? ? cert.certification_date_of_graduation : "-"
                %td
                  = cert.certification_name
                %td
                  = cert.certification_no
                %td
                  = cert.certification_issuer 
