.row
  .large-12.columns  
    .row
      .large-12.columns
        %h3
          Riwayat Pendidikan
    .row
      .large-12.columns
        %table{"id" => "tbl_education_history"}
          %thead
            %tr 
              %td
                Jenjang Pendidikan
              %td
                Tanggal Ijazah
              %td
                Nama Perguruan Tinggi
              %td
                Program Studi
              %td
                Kota Universitas 
          %tbody{"class" => "content"}
            - @user_educations.each do |edu|
              %tr{"class" =>"row_"+edu.id.to_s}
                %td
                  = Preference::EDU_STAGE[edu.education_institution_stage_id]
                %td
                  = edu.date_of_diploma.present? ? edu.date_of_diploma.strftime("%d-%m-%Y") : "-"
                %td
                  = edu.education_institution_name
                %td
                  = edu.education_institution_course
                %td
                  = edu.education_institution_city 
