.row
  .large-12
    .row
      .large-12.columns
        %h2
          Berkas yang harus dilengkapi
    .row
      .large-6.columns     
        - UserRegistrationFile.all.each do |file|
          - if @user_files.include?(file.id)
            .row{"id" =>"user_registration_file_#{file.id}_data"}
              .large-6.columns
                %strong
                  = file.title
                  = ": " 
                  = get_file(file.id).file.original_filename
              .large-6.columns
                %a{"href" => "/member/download_user_file/"+ file.id.to_s} Download
                  
