.row
  .large-12
    .row
      .large-12.columns
        %h2
          Form Data Pribadi 
    .row
      .large-6.columns
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Photo Profile
             
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Domisili
            =  @user.domicile
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Nama Lengkap
            =   @user.name
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Nomor Kartu Penduduk
            =  @user.id_card_no
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Nomor NPWP
            =   @user.tax_card_no
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Gender
            = @user.gender
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Agama 
            = @user.religion_id
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Email
            = @user.email
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Nomor Telephone Rumah
            =  @user.phone_no
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Nomor Handphone
            = @user.mobile_phone_no
        .row
          .large-12.columns.wrapper
            %label
              %strong 
                Nomor Fax
            = @user.fax_no
      .large-6.columns
        .row
          .large-12.columns
            %h4
              Alamat Rumah
        %hr
        .row
          .large-12.columns.wrapper
            %label
              %strong
                Alamat Lengkap
            = @user.ca_address
        .row
          .large-12.columns.wrapper
            %label
              %strong
                RT
            = @user.ca_rt
        .row
          .large-12.columns.wrapper
            %label
              %strong
                RW
            = @user.ca_rw
        .row
          .large-12.columns.wrapper
            %label
              %strong
                Kelurahan
            = @user.ca_subdistrict
        .row
          .large-12.columns.wrapper
            %label
              %strong
                Kecamatan
            = @user.ca_district
        .row
          .large-12.columns.wrapper
            %label
              %strong
                Provinsi
            = @user.ca_province
        .row
          .large-12.columns.wrapper
            %label
              %strong
                Kota
            =  @user.ca_city
        .row
          .large-12.columns.wrapper
            %label
              %strong
                Kode Pos
            =  @user.ca_postal_code 
