.row
  .large-12
    .row
      .large-12.columns
        %h2
          Form Data Pekerjaan
    .row
      .large-12.columns  
        .row
          .large-12.columns
            %h4
              Data Pekerjaan Saat Ini  
            .large-12.columns
              %label
                %strong 
                  Nama Perusahaan / Instansi
              =  @user.current_workplace.present? ? @user.current_workplace.work_place_name : ""
          .row
            .large-12.columns
              %label
                %strong 
                  Jabatan
              =   @user.current_workplace.present? ? @user.current_workplace.work_place_position : ""
          .row
            .large-12.columns
              %label
                %strong 
                  Alamat Kantor
              =   @user.current_workplace.present? ? @user.current_workplace.work_place_address : ""
          .row
            .large-12.columns
              %label
                %strong 
                  Nomor Telepon
              =   @user.current_workplace.present? ? @user.current_workplace.work_place_phone_no : ""
          .row
            .large-12.columns
              %label
                %strong 
                  Extension
              =   @user.current_workplace.present? ? @user.current_workplace.work_place_phone_extension_no : ""
          .row
            .large-12.columns
              %label
                %strong 
                  Nomor Fax
              =   @user.current_workplace.present? ? @user.current_workplace.work_place_fax_no : ""
          .row
            .large-12.columns
              %label
                %strong 
                  Job Level
              = Preference::JOB_LEVEL[@user.current_workplace.present? ? @user.current_workplace.work_place_job_level_id.to_i : 0]
          .row
            .large-12.columns
              %label
                %strong 
                  Bidang Minat
              = Preference::JOB_FOI[@user.current_workplace.present? ? @user.current_workplace.work_place_field_of_interest_id.to_i : 0]
          .row
            .large-12.columns
              %label
                %strong 
                  Bidang Minat Lainnya
              = Preference::HJOB_OTH_FOI[@user.current_workplace.present? ? @user.current_workplace.work_place_other_foi_id.to_i : 0]
          .row
            .large-12.columns
              %label
                %strong 
                  Tipe Perusahaan/Instansi
              = Preference::HWORKPLACE_TYPE[@user.current_workplace.present? ? @user.current_workplace.work_place_type_id.to_i : 0]
          .row
            .large-12.columns
              %label
                %strong 
                  Kategori Bisnis
              = Preference::HJOB_BUSINESS_CAT[@user.current_workplace.present? ? @user.current_workplace.work_place_business_category_id.to_i : 0]
              
      .large-6.columns 
%hr
.row
  .large-12.columns
    .row
      .large-12.columns
        %h3
          Riwayat Pekerjaan
    .row
      .large-12.columns
        %table{"id" => "tbl_work_history"}
          %thead
            %tr 
              %td
                Perusahaan
              %td
                Jabatan
              %td
                Devisi
              %td
                Tanggal Masuk
              %td
                Tanggal Berakhir
              %td
                Uraian Pekerjaan 
          %tbody{"class" => "content"}
            - @user_works.each do |work|
              %tr{"class" =>"row_"+work.id.to_s}
                %td
                  = work.work_place_name
                %td
                  = work.work_place_position
                %td
                  = work.work_place_division
                %td
                  = work.work_place_entry_date.present? ? work.work_place_entry_date.strftime("%d-%m-%Y") : "-"
                %td
                  = work.work_place_out_date.present? ? work.work_place_out_date.strftime("%d-%m-%Y") : "-"
                %td
                  = work.work_place_short_description 
