.row
  .large-12.columns
    %table
      %thead
        %tr 
          %th
            Name
          %th 
            Email
          %th 
            Aksi
      %tbody
        - @user_regform_validations.each do |user|
          %tr 
            %td
              = user.name
            %td
              = user.email
            %td
              %a{"href" => admin_user_registration_form_path(user)} Cek Formulir Pendaftaran
    
