= content_for :script do
  = javascript_include_tag 'ckeditor/ckeditor.js' 
  :javascript
    $(document).ready(function(){
      var step_status = "#{@user.step_status}";
      step_status = parseInt(step_status)+1;
      $("#tap"+ new String(step_status) ).trigger("click");
      
      if ($('textarea').length > 0) {
          var data = $('#user_admin_note');          
          $.each(data, function(i) {
            CKEDITOR.replace(data[i].id, 
              {
                toolbar: [
                  { name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source', '-', 'NewPage', 'Preview', 'Print', '-', 'Templates' ] },
                  { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
                  { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ], items: [ 'Find', 'Replace', '-', 'SelectAll', '-', 'Scayt' ] },
                  { name: 'forms', items: [ 'Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField' ] },
                  '/',
                  { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
                  { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language' ] },
                  { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
                  { name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe' ] },
                  '/',
                  { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
                  { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
                  { name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
                  { name: 'others', items: [ '-' ] },
                ]
              }
            ); 
          });
      }
    });
.row
  .large-12.columns
    %a{"href" => admin_user_registration_forms_path} Kembali
%hr
.row
  .large-12.columns
    %h1
      Formulir Pendaftaran Keanggotaan IKPI
.row
  .large-12.columns
    %h3
      Status Keanggotaan :
      = Preference::MEMBER_STAGE_STATUS[@user.status_stage]
  .row
    .large-12.columns
      - if @user.status_stage == 1
        .row
          .large-12.columns
            Mengenai Formulir Ini
        .row
          .large-12.columns
            = form_tag admin_user_registration_form_path(@user), :method => "PATCH", :multipart => true do 
              .row
                .large-12.columns
                  %label
                    %strong
                      Catatan Mengenai Formulir
              .row
                .large-12.columns
                  = text_area_tag "user[admin_note]"
              %hr
              .row
                .large-12.column 
                  = radio_button_tag "accept_user_validation", true
                  Diterima
              .row
                .large-12.column 
                  = radio_button_tag "accept_user_validation", false
                  Tidak Diterima
              .row
                .large-12.columns
                  = submit_tag "Proses Formulir", :class => "button small"
      
      - if @user.status_stage == 2
        .row
          .large-12.columns
            Pengguna ini mempunyai tagihan ( #{@reg_invoice.invoice_note_id} ), Apabila Ingin Membatalkan Dan Mengulang Validasi Pengguna Ini, 
            %a{"href" => cancel_reg_bills_admin_user_registration_form_path(@user)} Klik Tautan Ini
    
%hr
.row
  .large-12.columns
    #member-form-wrapper.row
      #member-form.large-12.columns
        .row
          .large-12.columns
            %h4
              Silahkan Mengisi Formulir Berikut.
        %dl.tabs{"data-tab" => ""}
          %dd.active
            %a{:href => "#panel1", :id => "tap1"} Pribadi
          %dd
            %a{:href => "#panel2", :id => "tap2"} Pendidikan
          %dd
            %a{:href => "#panel3", :id => "tap3"} Pekerjaan
          %dd
            %a{:href => "#panel4", :id => "tap4"} Sertifikasi
          %dd
            %a{:href => "#panel5", :id => "tap5"} Berkas
        %br
        - if @user.status_stage == 0
          #form-stage-wrapper.row
            #form-stage.large-12.columns 
              Jika Pengguna Telah Selesai Mengisi Formulir, Silahkan Tekan Tombol Validasi
              %hr
              %a.button.small{"href" => validate_member_index_path} Validasi
          %hr
            
        .tabs-content
          #panel1.content.active
            #member-form-profile.row
              .large-12.columns
                = render("admin/user_registration_forms/profile")
          #panel2.content
            #member-form-education.row
              .large-12.columns
                = render("admin/user_registration_forms/education")
          #panel3.content
            #member-form-work.row
              .large-12.columns
                = render("admin/user_registration_forms/work")
          #panel4.content
            #member-form-certification.row
              .large-12.columns
                = render("admin/user_registration_forms/certification")
          #panel5.content
            #member-form-files.row
              .large-12.columns
                = render("admin/user_registration_forms/files")
