.row
  .large-12.columns
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %h1
            %a{:href => admin_dashboards_path } IKPI
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %section.top-bar-section
        / Right Nav Section
        - if current_user.present?
          %ul.right 
            %li.has-dropdown
              %a{:href => "#"}
                Selamat Datang, 
                = current_user.name 
              %ul.dropdown 
                %li 
                  %a{"href" => change_password_lounges_path}
                    Ganti Password
                - if current_user.present?
                  %li.active
                    %a{"href" => destroy_user_session_path , "rel" => "nofollow", "data-method" => "DELETE"} Log Out
        / Left Nav Section
        %ul.left
          - if current_user.present?
            %li.active
              %a{"href" => admin_dashboards_path} Dashbor 
            %li.has-dropdown
              %a{"href" => "#"}
                Keanggotaan
              %ul.dropdown 
                %li 
                  %a{"href" => admin_users_path}
                    Indeks
                %li 
                  %a{"href" => admin_user_registration_forms_path}
                    Formulir
                %li 
                  %a{"href" => admin_user_registration_files_path}
                    Berkas Wajib
            %li
              %a{"href" => admin_edutrains_path} 
                Edukasi & Pelatihan
