.row
  .large-12.columns
    %ul.side-nav
      %li 
        %a{"href" => admin_dashboards_path}
          Dashboards
      %li 
        %a{"href" => admin_user_registration_forms_path}
          Formulir Anggota
      %li 
        %a{"href" => admin_users_path}
          List Pengguna
      %li 
        %a{"href" => admin_edutrains_path}
          Edukasi Dan Pelatihan
      %li 
        %a{"href" => admin_user_registration_files_path}
          Berkas Wajib Untuk Anggota
