.row
  .large-12.columns
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %h1
            %a{:href => root_path} 
              %img{"src" => "/assets/logo.png" , "alt" => "IKPI Jaksel Logo"}
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %section.top-bar-section
        / Right Nav Section
        - if current_user.present?
          %ul.right 
            %li.has-dropdown
              %a{:href => "#"}
                Selamat Datang, 
                = current_user.name 
              %ul.dropdown
                %li 
                  %a{"href" => profile_lounges_path}
                    Profil
                %li 
                  %a{"href" => change_password_lounges_path}
                    Ganti Password
                - if current_user.present?
                  %li.active
                    %a{"href" => destroy_user_session_path , "rel" => "nofollow", "data-method" => "DELETE"} Log Out
        / Left Nav Section
        %ul.left
          - if current_user.present?
            %li.active
              %a{"href" => lounges_path} Lounge
            %li
              %a{"href" => edutrains_path} Learning Center
            %li
              %a{"href" => invoices_path} Pembayaran
