.row
  .large-12.columns
    %ul.side-nav
      %li 
        %a{"href" => lounges_path}
          Lounge
      %li 
        %a{"href" => profile_lounges_path}
          Profile
      %li 
        %a{"href" => current_user.member_type_id.blank? ? registration_member_index_path : new_member_path }
          Daftar Ke IKPI 
      %li 
        %a{"href" => edutrains_path}
          Learning Center
      %li 
        %a{"href" => invoices_path}
          Pembayaran
      %li 
        %a{"href" => destroy_user_session_path, :rel => "nofollow", "data-method" => "DELETE"}
          Keluar
