!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "/assets/favicon.png", :rel => "icon", :type => "image/png"}/
    %title= content_for?(:title) ? yield(:title) : "IKPI-Lounge"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = yield :style 
    = csrf_meta_tags
  %body
    #notification-wrapper.row
      #notification.large-12.columns
        .row.title-wrapper
          .large-11.columns
          .large-1.columns
            %a{"href" => "#", "onclick"=> "close_notification();"}
              %i.fi-x 
        .row.content-wrapper
          .large-12.columns.content 
            
    .row
      .large-12.columns
        #header-wrapper.row
          #header.large-12.columns
            = render "layouts/header"
        %hr
        #main-wrapper.row
          #main.large-12.columns
            - if current_user
              .row
                .large-2.columns
                  = render("layouts/member_nav")
                .large-10.columns
                  = yield
            - else
              = yield
        %hr
        #footer-wrapper.row
          #footer.large-12.columns
            = render "layouts/footer"
    = javascript_include_tag "application"
    = yield :script
    :javascript 
      $(document).ready(function(){
        
        
      
        var notice = eval("#{flash['notice'].present?}");
        if(notice == true){
          ikpi_notification("#{flash['notice']}");
        }
        
      });
